- page_title 'My Settings'

.container
  .row.pt-3
    .col.text-center
      %h1.brand-primary My Settings
      .row
    .col-md-12
      %p.text-center.mb-3.p-2{style: "border: 1px solid black;"}
        %strong
          Manage your personal settings here to control how you send and receive certain information through the service.

      = form_for authenticated_user, url: my_settings_path do |f|
        .row.mb-2
          .settings-box.pb-0.text-center{:style => "border-radius: 12px;"}
            .col
              .form-group
                .form-check
                  = f.check_box :receive_email, class: 'form-check-input'
                  %label.form-check-label.pl-1(for="receive_email") Email Notifications - Allow Email Notifications for My Messages
            .col
              .form-group
                .form-check
                  = f.check_box :hide_my_social_health, class: 'form-check-input'
                  %label.form-check-label(for="hide_my_social_health") My Social Health - Hide My Social Health on Home Page
            .col
              .form-group
                .form-check
                  = f.check_box :hide_my_social_events, class: 'form-check-input'
                  %label.form-check-label(for="hide_my_social_events") My Social Events - Hide My Social Events on Home Page
            - if authenticated_user.member.hide_leaderboard== false
              .col
                .form-group
                  .form-check
                    = f.check_box :hide_info_on_leaderboard, class: 'form-check-input'
                    %label.form-check-label.pl-1(for="hide_info_on_leaderboard") Leaderboard - Hide My Total Events Logged on My Community Leaderboard

        .row.justify-content-center.pt-1.pb-3
          = f.submit 'Save', class: 'btn btn-primary', :style => 'border: 1px solid black;', data: { disable_with: 'Saving...' }
