%p New Social Health Online Guest User Registration Submission

%p
  <strong>Name:</strong> #{@form_params[:name]}
%p
  <strong>Address:</strong> #{@form_params[:address]}
%p
  <strong>City:</strong> #{@form_params[:city]}
%p
  <strong>State:</strong> #{@form_params[:state]}
%p
  <strong>ZIP Code:</strong> #{@form_params[:zip]}
%p
  <strong>Email:</strong> #{@form_params[:email]}
%p
  <strong>Phone:</strong> #{@form_params[:phone]}
%p
  <strong>Display Name:</strong> #{@form_params[:display_name]}
%p
  <strong>Race/Ethnicity:</strong> #{@form_params[:race]}
%p
  <strong>Gender:</strong> #{@form_params[:gender]}
%p
  <strong>Birthdate:</strong> #{@form_params[:birthdate]}
