- page_title 'Social Tracker | History'

.container
  .row
    .col.py-3
      %h1.text-info History
      .row.justify-content-center
        .col-12
          - if @social_event_logs.any?
            .table-responsive.text-center
              %table.table.align-items-center.table-sm.table-hover(id="social-tracker-history-table")
                %thead
                  %tr
                    %th Log Date
                    %th Event Date
                    %th Event Location
                    %th Event Rating
                %tbody.bg-white
                  - @social_event_logs.each do |log|
                    %tr
                      %td= link_to short_date(log.created_at), social_tracker_path(log), class: 'text-info'
                      %td= short_date(log.event_date)
                      %td= truncate(log.venue, :length => 30)
                      %td= RATINGS.key(log.rating)
                    %tr.table-divider
            = paginate @social_event_logs
          - else
            %p.text-muted
              %em You have not logged any social events.
