= form_with model: @customer, url: [:console, @customer], local: true do |f|
  .row
    .col-lg-6
      .form-group
        %label(for="customer_name") Customer Name
        = f.text_field :name, autofocus: true, class: "form-control #{form_error_class(@customer, :name)}"
        = model_error_display(@customer, :name)
    .col-lg-6
      .form-group
        %label(for="customer_address") Address
        = f.text_field :address, class: "form-control #{form_error_class(@customer, :address)}"
        = model_error_display(@customer, :address)
  .row
    .col-lg-4
      .form-group
        %label(for="customer_city") City
        = f.text_field :city, class: "form-control #{form_error_class(@customer, :city)}"
        = model_error_display(@customer, :city)
    .col-lg-4
      .form-group
        %label(for="customer_state") State
        = f.select :state, US_STATES, {}, { class: 'form-control custom-select' }
        = model_error_display(@customer, :state)
    .col-lg-4
      .form-group
        %label(for="customer_zip") Zip
        = f.text_field :zip, class: "form-control #{form_error_class(@customer, :zip)}"
        = model_error_display(@customer, :zip)
  .row
    .col-lg-4
      .form-group
        %label(for="customer_contact_name") Contact Name
        = f.text_field :contact_name, class: "form-control #{form_error_class(@customer, :contact_name)}"
        = model_error_display(@customer, :contact_name)
    .col-lg-4
      .form-group
        %label(for="customer_contact_email") Contact Email
        = f.email_field :contact_email, class: "form-control #{form_error_class(@customer, :contact_email)}"
        = model_error_display(@customer, :contact_email)
    .col-lg-4
      .form-group
        %label(for="customer_contact_phone") Contact Phone
        = f.text_field :contact_phone, class: "form-control #{form_error_class(@customer, :contact_phone)}"
        = model_error_display(@customer, :contact_phone)
  .row
    .col-lg-4
      .form-group
        %label(for="customer_service_capacity") Service Capacity
        = f.text_field :service_capacity, class: "form-control #{form_error_class(@customer, :service_capacity)}"
        = model_error_display(@customer, :service_capacity)
    .col-lg-4
      .form-group
        %label(for="customer_account_start_date") Account Start Date
        = f.text_field :account_start_date, class: "flatpickr-date form-control #{form_error_class(@customer, :account_start_date)}"
        = model_error_display(@customer, :account_start_date)
    .col-lg-4
      .form-group
        %label(for="customer_account_end_date") Account End Date
        = f.text_field :account_end_date, class: "flatpickr-date form-control #{form_error_class(@customer, :account_end_date)}"
        = model_error_display(@customer, :account_end_date)
  .form-check.mb-3
    = f.check_box :suspended, class: 'form-check-input'
    %label.form-check-label(for="customer_suspended") Suspended

  .mb-5
    = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
    - if @customer.persisted?
      = link_to 'Cancel', console_customer_path(@customer), class: 'btn btn-outline-secondary'
    - else
      = link_to 'Cancel', console_customers_path, class: 'btn btn-outline-secondary'
