= form_for [:console, @customer] do |f|
  .row
    .col
      .form-group
        %label(for="customer_name") Customer Name
        = f.text_field :name, autofocus: true, class: "form-control #{form_error_class(@customer, :name)}"
        = model_error_display(@customer, :name)
    .col
      .form-group
        %label(for="customer_address") Address
        = f.text_field :address, class: "form-control #{form_error_class(@customer, :address)}"
        = model_error_display(@customer, :address)
  .row
    .col
      .form-group
        %label(for="customer_city") City
        = f.text_field :city, class: "form-control #{form_error_class(@customer, :city)}"
        = model_error_display(@customer, :city)
    .col
      .form-group
        %label(for="customer_state") State
        = f.select :state, US_STATES, { include_blank: true }, { class: 'form-control' }
        = model_error_display(@customer, :state)
    .col
      .form-group
        %label(for="customer_zip") Zip
        = f.text_field :zip, class: "form-control #{form_error_class(@customer, :zip)}"
        = model_error_display(@customer, :zip)
  .row
    .col
      .form-group
        %label(for="customer_contact_name") Contact Name
        = f.text_field :contact_name, class: "form-control #{form_error_class(@customer, :contact_name)}"
        = model_error_display(@customer, :contact_name)
    .col
      .form-group
        %label(for="customer_contact_email") Contact Email
        = f.text_field :contact_email, class: "form-control #{form_error_class(@customer, :contact_email)}"
        = model_error_display(@customer, :contact_email)
    .col
      .form-group
        %label(for="customer_contact_phone") Contact Phone
        = f.text_field :contact_phone, class: "form-control #{form_error_class(@customer, :contact_phone)}"
        = model_error_display(@customer, :contact_phone)
  .row
    .col
      .form-group
        %label(for="customer_service_capacity") Service Capacity
        = f.text_field :service_capacity, class: "form-control #{form_error_class(@customer, :service_capacity)}"
        = model_error_display(@customer, :service_capacity)
    .col
      .form-group
        %label(for="customer_account_start") Account Start Date
        = f.text_field :account_start_date, class: "form-control #{form_error_class(@customer, :account_start_date)}"
        = model_error_display(@customer, :service_capacity)
    .col
      .form-group
        %label(for="customer_account_end_date") Account End Date
        = f.text_field :account_end_date, class: "form-control #{form_error_class(@customer, :account_end_date)}"
        = model_error_display(@customer, :account_end_date)

  = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
  = link_to 'Cancel', console_customers_path, class: 'btn btn-outline-secondary'
