.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h3 Customers
  = link_to new_console_customer_path, class: 'btn btn-outline-primary' do
    %i.fas.fa-plus-circle
    Add Customer

- if @customers.any?
  .table-responsive
    %table.table
      %thead
        %tr
          %th Name
          %th Contact Name
          %th Contact Email
          %th State
          %th
      %tbody
        - @customers.each_with_index do |customer, i|
          %tr
            %td= link_to "#{i+1}. #{customer.name}", console_customer_path(customer)
            %td= customer.contact_name
            %td= customer.contact_email
            %td= customer.state
            %td
              = link_to edit_console_customer_path(customer), title: 'Edit', class: 'btn btn-sm btn-outline-primary' do
                %i.far.fa-edit
              &nbsp;
              = link_to console_customer_path(customer), title: 'Delete', class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this customer. Press OK to continue.' } do
                %i.far.fa-trash-alt
- else
  %p.text-muted
    %em No customers were found.
