.container
  .row.pt-3
    .col
      %h1.text-info Dashboard

  .row.my-3
    .col
      %h3.notification-title Notifications
      #scroll-box
        - @notifications.each do |notification|
          .mb-3
            %h5= notification.title
            .notification-date= time_in_cdt(notification.updated_at, '%m/%d/%Y')
            .notification-text= simple_format(notification.body)
        %p= paginate @notifications
  .row.my-3
    .col
      %h3.notification-title My Social Events
      %div.table-wrapper-2.table-hover#events-feed
        %table.table
          %thead.mdb-color.lighten-4.text-center
            %tr
              %th Event Title
              %th Event Type
              %th Event Date
              %th RSVP
          %tbody
          - @events.each do |event|
            %tr.text-center.bg-white
              %td= link_to event.title, community_event_path(authenticated_user.member, event)
              %td= event.event_type
              %td= time_in_cdt(event.start_at, '%Y-%m-%d %H:%M %Z')
              %td= dashboard_events_status(event.status)
            %tr.table-divider
