.container
  .row.pt-5
    .col
      %h2.brand-primary Dashboard

  .row.my-3
    .col
      %h3.notification-title Notifications
      #scroll-box
        - @notifications.each do |notification|
          .mb-3
            %h5= notification.title
            .notification-date= date_in_cst(notification.updated_at)
            .notification-text= simple_format(notification.body)
        %p= paginate @notifications
  .row.my-3
    .col
      %h3.notification-title My events
      %div.table-wrapper-2#events-feed
        %table.table
          %thead.mdb-color.lighten-4
            %tr
              %th Name
              %th Type
              %th Event Date
              %th Location
              %th City
              %th State
              %th RSVP
          %tbody
          - @events.each do |event|
            %tr
              %td= event.title
              %td= event.event_type
              %td= event.start_at
              %td= event.location
              %td= event.city
              %td= event.state
              %td= event.status