- page_title 'My Community Connections'

%br
.container.pb-3
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3
    %h1.brand-primary My Community Connections
    %div
      - if authenticated_user.manager?
        %div.float-right.new_manage_user_button
          .dropdown.mb-4
            %a.btn.btn-primary.dropdown-toggle{:style => 'border: 1px solid black;'}(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              %i.fas.fa-cog
              Manage
            .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;'}
              = link_to manage_edit_member_path, class: 'dropdown-item' do
                %i.fas.fa-building
                Community Profile
              = link_to manage_events_path, class: 'dropdown-item' do
                %i.fas.fa-map-marker-alt
                Community Events
              = link_to manage_social_tracker_users_path(authenticated_user.member), class: 'dropdown-item' do
                %i.fas.fa-database
                Social Tracker
              = link_to manage_announcements_path, class: 'dropdown-item' do
                %i.fas.fa.fa-bullhorn
                Announcements
              = link_to manage_challenges_path, class: 'dropdown-item' do
                %i.fas.fa.fa-puzzle-piece
                Challenges
              = link_to manage_users_path, class: 'dropdown-item' do
                %i.fas.fa-user-circle
                Community Users
              = link_to my_community_path, class: 'dropdown-item' do
                %i.fas.fa-angle-double-left
                Community Home

        %div.float-right
          = link_to new_manage_connection_path, class: 'btn btn-primary px-1', style: 'border: 1px solid black;' do
            %i.fas.fa-plus-circle
            Add Connection

  .table-responsive.text-center{ :style => 'border: 2px solid black; border-radius: 12px;'}
    %table.table.table-borderless.table-hover
      %thead
        %tr
          %th= sort_link 'name', 'Connection Site Name'
          %th= sort_link 'url', 'Connection Website'
          %th= sort_link 'created_at', 'Added On'
      %tbody
        - @connections.each.with_index(1) do |connection, i|
          %tr.bg-white
            %td.font-weight-bold= link_to truncate("#{i}. #{connection.name}"), manage_connection_path(connection)
            %td= link_to "Visit Website", connection.url, target: :_blank
            %td= time_in_cdt(connection.created_at, '%m/%d/%Y')
            %td.w-10.text-right
              .dropdown
                = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{connection.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                  %i.fas.fa-ellipsis-h
                .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{connection.id}")
                  = link_to edit_manage_connection_path(connection), title: 'Edit', class: 'dropdown-item text-info' do
                    %i.far.fa-edit
                    Edit
                  = link_to manage_connection_path(connection), title: 'Delete', id: "delete_connection_#{connection.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this connection. Press OK to continue.' } do
                    %i.far.fa-trash-alt
                    Delete
                  = link_to share_link_path(:url => connection.url), title: 'Share Link', class: 'dropdown-item text-info' do
                    %i.fas.fa-share
                    Share Link
          %tr.table-divider
    %p= paginate @connections
    - if @connections.none?
      %p.pb-3.text-muted.text-center
        %em No connections have been created.
%br
