- page_title 'My Community Events'

.container
  .row.pt-3
    .col
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3
        %h1.brand-primary My Community Events
        = link_to new_manage_event_path, class: 'btn btn-primary ml-auto mr-1 mb-4' do
          %i.fas.fa-plus-circle
          Add Event
        .dropdown.pb-4
          %a.btn.btn-primary.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            %i.fas.fa-cog
            Manage
          .dropdown-menu.dropdown-menu-right
            = link_to manage_edit_member_path, class: 'dropdown-item' do
              %i.fas.fa-building
              Community Profile
            = link_to manage_social_tracker_users_path(@member), class: 'dropdown-item' do
              %i.fas.fa-database
              Social Tracker              
            = link_to manage_announcements_path, class: 'dropdown-item' do
              %i.fas.fa.fa-bullhorn
              Announcements                    
            = link_to manage_users_path, class: 'dropdown-item' do
              %i.fas.fa-user-circle
              Users
  .row.pb-3
    .col
      - if @events.any?
        .table-responsive.text-center
          %table.table.table-borderless.align-items-center.table-hover
            %thead
              %tr
                %th(scope="col") Event Title
                %th(scope="col") Event Type
                %th(scope="col") Event Date/Time
                %th(scope="col") Event Location
                %th(scope="col") Event City
                %th(scope="col") Event State
                %th(scope="col")
            %tbody
              - @events.each_with_index do |event, i|
                %tr.bg-white
                  %th(scope="row")= link_to "#{i+1}. #{event.title}", manage_event_path(event)
                  %td= event.event_type
                  %td= short_date_time(event.start_at, event.time_zone)
                  %td= event.location
                  %td= event.city
                  %td= event.state
                  %td.w-10.text-right
                    .dropdown
                      = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{event.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                        %i.fas.fa-ellipsis-h
                      .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{event.id}")
                        = link_to edit_manage_event_path(event), title: 'Edit', class: 'dropdown-item text-info' do
                          %i.far.fa-edit
                          Edit
                        = link_to manage_event_path(event), title: 'Delete', id: "delete_event_#{event.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this event. Press OK to continue.' } do
                          %i.far.fa-trash-alt
                          Delete
                %tr.table-divider
          %p= paginate @events
      - else
        %p.pb-3.text-muted
          %em No events were found.
