- page_title 'My Community Events'

.container
  .row.pt-3
    .col
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.mb-3
        %h1.brand-primary My Community Events
        = link_to new_manage_event_path, class: 'btn btn-primary ml-auto mr-1 mb-4', style: 'border: 1px solid black;'  do
          %i.fas.fa-plus-circle
          Add Event
        .dropdown.pb-4
          %a.btn.btn-primary.dropdown-toggle{:style => 'border: 1px solid black;'}(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            %i.fas.fa-cog
            Manage
          .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;'}
            = link_to manage_edit_member_path, class: 'dropdown-item' do
              %i.fas.fa-building
              Community Profile
            = link_to manage_social_tracker_users_path(@member), class: 'dropdown-item' do
              %i.fas.fa-database
              Social Tracker
            = link_to manage_announcements_path, class: 'dropdown-item' do
              %i.fas.fa.fa-bullhorn
              Announcements
            = link_to manage_challenges_path, class: 'dropdown-item' do
              %i.fas.fa.fa-puzzle-piece
              Challenges
            = link_to manage_connections_path, class: 'dropdown-item' do
              %i.fas.fa.fa-plug
              Connections
            = link_to manage_users_path, class: 'dropdown-item' do
              %i.fas.fa-user-circle
              Community Users
            = link_to my_community_path, class: 'dropdown-item' do
              %i.fas.fa-angle-double-left
              Community Home
  .row.pb-3
    .col
      .table-responsive.text-center{ :style => 'border: 2px solid black; border-radius: 12px;'}
        %table.table.table-borderless.align-items-center.table-hover
          %thead
            %tr
              %th= sort_link 'title', 'Event Title'
              %th= sort_link 'start_at', 'Event Date/Time'
              %th= sort_link 'city', 'Event City'
              %th= sort_link 'state', 'Event State'
              %th= sort_link 'private', 'Event Access'
              %th= sort_link 'featured_event', 'Showcased Event'
          %tbody
            - @events.each.with_index(1) do |event, i|
              %tr.bg-white
                %th.font-weight-bold= link_to "#{i}. #{event.title}" , manage_event_path(event)
                %td= short_date_time(event.start_at, event.time_zone)
                %td= event.city
                %td= event.state
                %td= event.private? ? 'Private' : 'Public'
                %td= event.featured_event? ? 'Yes' : 'No'
                %td.w-10.text-right
                  .dropdown
                    = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{event.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                      %i.fas.fa-ellipsis-h
                    .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{event.id}")
                      = link_to edit_manage_event_path(event), title: 'Edit', class: 'dropdown-item text-info' do
                        %i.far.fa-edit
                        Edit
                      = link_to manage_event_path(event), title: 'Delete', id: "delete_event_#{event.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this event. Press OK to continue.' } do
                        %i.far.fa-trash-alt
                        Delete
                      = link_to event_reminder_path(title: event.title, type: event.event_type, :location => event.location, :address => event.location_display, :start_at => (short_date_time(event.start_at, event.time_zone))), title: 'Event Reminder', class: 'dropdown-item text-info' do
                        %i.fa.fa-bell
                        Event Reminder
              %tr.table-divider
        %p= paginate @events
        - if @events.none?
          %p.pb-3.pt-1.text-muted.text-center
            %em No events have been created.
%br
