.container
  .row.pt-3
    .col
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3
        %h1
          = @event.title

  .row
    .col
      %p
        %strong Event Type:
        =@event.event_type
      %p
        %strong Event Date/Time:
        = short_date_time @event.start_at, @event.time_zone
      %p
        %strong Event Location:
        = @event.location
      %p
        %strong Event Address:
        = @event.address
      %p
        %strong Event City:
        = @event.city
      %p
        %strong Event State:
        = @event.state
      %p
        %strong Event ZIP Code:
        = @event.zip
      %p
        %strong Event Website:
        = link_to @event.url, @event.url, target: '_blank' if @event.url.present?
      %p
        %strong RSVP Limit:
        = @event.rsvp_limit
      %p
        %strong Private:
        = @event.private? ? 'Yes' : 'No'
      %p
        %strong Event Details:
      = simple_format @event.details
      %div.table-wrapper-2.mb-2{ :style => "border-radius: 12px;" }
        %table.table.table-borderless
          %thead.mdb-color.lighten-4
            %tr
              %th
              %th.th-lg Display Name
              %th.th-lg.text-center RSVP
          %tbody
          - @event.rsvps.each do |rsvp|
            %tr
              %td
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                    data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover',  user: rsvp.user }" } }
                  =rsvp.user.display_name
              %td.text-center= rsvp&.rsvp_status.capitalize
  %p.pt-2.pb-3
    = link_to 'javascript:history.back()', class: 'btn btn-outline-primary mr-1' do
      %i.fas.fa-arrow-left
      Back
    = link_to edit_manage_event_path(@event.id), class: 'btn btn-outline-primary mr-1' do
      %i.far.fa-edit
      Edit
    = link_to manage_events_path(@event.id), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Please confirm that you wish to delete this event. Press OK to continue.' } do
      %i.far.fa-trash-alt
      Delete
