.container
  .row.pt-5
    .col
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        %h1.h3.brand-primary
          %i.fas.fa-map-marker-alt
          = @event.title
        %div
          = link_to edit_manage_event_path(@event), class: 'btn btn-outline-primary' do
            %i.far.fa-edit
            Edit
          &nbsp;
          = link_to manage_events_path, class: 'btn btn-outline-secondary' do
            %i.fas.fa-arrow-alt-circle-left
            Back
  .row
    .col
      %p
        %strong Event Type
        = @event.event_type
      %p
        %strong Event Date
        = short_date_time @event.start_at, @event.time_zone
      %p
        %strong Event Location
        = @event.location
      %p
        %strong Event City
        = @event.city
      %p
        %strong Event State
        = @event.state
      %p
        %strong Event Website:
        = link_to @event.url, @event.url, target: '_blank' if @event.url.present?
      %p
        %strong RSVP Limit
        = @event.rsvp_limit
      %p
        %strong Private
        = @event.private? ? 'Yes' : 'No'
      %p
        %strong Details
      = simple_format @event.details
  %p.pb-5
    = link_to manage_events_path, class: 'btn btn-outline-primary mr-1' do
      %i.fas.fa-arrow-left
      Back
    = link_to edit_manage_event_path(@event.id), class: 'btn btn-outline-primary mr-1' do
      %i.far.fa-edit
      Edit
    = link_to manage_events_path(@event.id), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Please confirm that you wish to delete this event. Press OK to continue.' } do
      %i.far.fa-trash-alt
      Delete
