.container
  .row.pt-3
    .col
      .d-flex.justify-content-center.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3
        %h1.brand-primary= @event.title
      %p.text-center
        -if @event.logo.attached? && @event.logo.attachment.valid?
          = image_tag @event.logo, alt: 'Event Logo', size: '200x200'

.container
  .row.justify-content-center.text-center
    .col-8
      %p
        %strong Event Type:
        =@event.event_type
      %p
        %strong Event Date/Time:
        = short_date_time @event.start_at, @event.time_zone
      %p
        %strong Event Location:
        = @event.location
      %p
      - if @event.address.present?
        %strong Event Address:
        = @event.address
      %p
      - if @event.city.present?
        %strong Event City:
        = @event.city
      %p
      - if @event.state.present?
        %strong Event State:
        = @event.state
      %p
      - if @event.zip.present?
        %strong Event ZIP Code:
        = @event.zip
      %p
      - if @event.url.present?
        %strong Event Website:
        = link_to @event.url, @event.url, target: '_blank' if @event.url.present?
      %p
      - if @event.rsvp_limit.present?
        %strong RSVP Attendee Limit:
        = @event.rsvp_limit
      %p
      %p
        %strong Event Access:
        = @event.private? ? 'Private' : 'Public'
      %p
      - if @event.details.present?
        %strong Event Details:
      %p
      = simple_format @event.details
      %p

.container.text-center
  .row
    .col
      %p
        %strong RSVP List
      %div.table-wrapper-2.table-hover{ :style => "border-radius: 12px;" }
        %table.table.table-borderless.text-left.mb-2
          %thead.mdb-color.lighten-4
            %tr
              %th
              %th.th-lg Display Name
              %th.th-lg.text-center.pr-3 RSVP
          %tbody
          - @event.rsvps.each do |rsvp|
            %tr
              %td
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                    data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover',  user: rsvp.user }" } }
                  =rsvp.user.display_name
              %td.text-center.pr-3= rsvp&.rsvp_status.capitalize
            %div.container.pagination.justify-content-center

.container
  %p.pt-2.py-3
    = link_to manage_events_path(@event.id), class: 'btn btn-outline-primary mr-1', style: 'border: 1px solid black;' do
      %i.fas.fa-arrow-left
      Back
    = link_to edit_manage_event_path(@event.id), class: 'btn btn-outline-primary mr-1' do
      %i.far.fa-edit
      Edit
    = link_to manage_event_path(@event.id), title: 'Delete', id: "delete_event_#{@event.id}", class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this event. Press OK to continue.' } do
      %i.far.fa-trash-alt
      Delete
