.container
  .row.pt-3
    .col
      .d-flex.justify-content-center.flex-wrap.flex-md-nowrap.align-items-center
        -if @event.private == true
          %h1{:style => "color: #c9302c;"}= @event.title
        -if @event.private == false
          %h1.brand-primary= @event.title
      %p.text-center.mt-2
        -if @event.logo.attached? && @event.logo.attachment.valid?
          = image_tag @event.logo, class: 'my-1', alt: 'Event Logo', size: '200x200'

.container
  .row.justify-content-center.text-center.mt-1
    .col-8
      %p
        %strong Event Type(s):
        =@event.event_type
      %p
        %strong Event Date/Time:
        = short_date_time @event.start_at, @event.time_zone
      %p
        %strong Event Location:
        = @event.location
      %p
        %strong Event Address:
        = @event.location_display
      %p
      - if @event.url.present?
        %strong Event Website:
        = link_to @event.url, @event.url, target: '_blank' if @event.url.present?
      %p
      - if @event.rsvp_limit.present?
        %strong RSVP Attendee Limit:
        = @event.rsvp_limit
      %p
      %p
        %strong Event Access:
        = @event.private? ? 'Private' : 'Public'
      %p
      - if @event.details.present?
        %strong Event Details:
      %p
      = simple_format @event.details
      %p

.container.text-center
  .row
    .col
      %p
        %strong RSVP List
  .row.text-center.mt-2
    .col-sm-4.offset-sm-4
      .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
        %table.table.text-left.mb-2.table-hover
          %thead.mdb-color.lighten-4
            %tr
              %th
              %th.th-lg Display Name
              %th.th-lg.text-center.pr-3 RSVP
          %tbody
          - @event.rsvps.each do |rsvp|
            %tr
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button', title: rsvp.user.display_name,
                  data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover', user: rsvp.user }" } }
                  - if rsvp.user.avatar.attached?
                    = image_tag rsvp.user.avatar, size: '50x50'
                  - else
                    = image_tag 'noavatar.png', size: '50x50'
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button', title: rsvp.user.display_name,
                    data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover',  user: rsvp.user }" } }
                  =rsvp.user.display_name
              %td.text-center.pr-3= rsvp&.rsvp_status.capitalize
            %div.container.pagination.justify-content-center

.container
  %p.pt-2.py-3
    = link_to manage_events_path(@event.id), class: 'btn btn-outline-primary mr-1', style: 'border: 1px solid black;' do
      %i.fas.fa-arrow-left
      Back
    = link_to event_reminder_path(:title => @event.title, :type => @event.event_type, :location => @event.location, :address => @event.location_display, :start_at => (short_date_time(@event.start_at, @event.time_zone))), title: 'Event Reminder', class: 'btn btn-outline-primary', style: 'border: 1px solid black' do
      %i.fa.fa-exclamation-circle
      Event Reminder
