.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h3.brand-primary Edit Fitness Plan

.row.justify-content-center.mb-3
  .col-md-8
    .card.card-box
      .card-body.justify-content-center.pt-0
      = form_with model: @target, url: [:console_fitness_plan], local: true do |f|
        .row.justify-content-center
          .col-lg-10
            .row.mt-2
            %h5 Fitness Plan Information
            .form-group.mt-2
              %label(for="title") Plan Month and Year
              = f.text_field :month, autofocus: true, class: "form-control #{form_error_class(@target, :month)}", required: true
              = model_error_display(@target, :month)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Week One
              = f.text_field :weekone, autofocus: true, class: "form-control #{form_error_class(@target, :weekone)}", required: true
              = model_error_display(@target, :weekone)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Social Target
              = f.text_field :targetone, autofocus: true, class: "form-control #{form_error_class(@target, :targetone)}", required: true
              = model_error_display(@target, :targetone)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Week Two
              = f.text_field :weektwo, autofocus: true, class: "form-control #{form_error_class(@target, :weektwo)}", required: true
              = model_error_display(@target, :weektwo)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Social Target
              = f.text_field :targettwo, autofocus: true, class: "form-control #{form_error_class(@target, :targettwo)}", required: true
              = model_error_display(@target, :targettwo)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Week Three
              = f.text_field :weekthree, autofocus: true, class: "form-control #{form_error_class(@target, :weekthree)}", required: true
              = model_error_display(@target, :weekthree)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Social Target
              = f.text_field :targetthree, autofocus: true, class: "form-control #{form_error_class(@target, :targetthree)}", required: true
              = model_error_display(@target, :targetthree)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Week Four
              = f.text_field :weekfour, autofocus: true, class: "form-control #{form_error_class(@target, :weekfour)}", required: true
              = model_error_display(@target, :weekfour)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Social Target
              = f.text_field :targetfour, autofocus: true, class: "form-control #{form_error_class(@target, :targetfour)}", required: true
              = model_error_display(@target, :targetfour)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Week Five (Optional)
              = f.text_field :weekfive, autofocus: true, class: "form-control #{form_error_class(@target, :weekfive)}"
              = model_error_display(@target, :weekfive)
        .row.justify-content-center
          .col-lg-10
            .form-group
              %label(for="") Social Target (Optional)
              = f.text_field :targetfive, autofocus: true, class: "form-control #{form_error_class(@target, :targetfive)}"
              = model_error_display(@target, :targetfive)
        .mb-3.text-center
          = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }, style: 'border: 1px solid black;'
          = link_to 'Cancel', console_fitness_plans_path, class: 'btn btn-outline-secondary', style: 'border: 1px solid black;'
