= form_for :conversation, url: :conversations, html: { id: 'conversation-form' } do |f|
  .form-group.resipients-box
    = f.label :recipients
    = f.select(:recipients, User.all_except(authenticated_user).collect {|p| [ p.display_name, p.id ] }, {},
    { multiple: true, required: true, class: 'form-control resipients-select', data: { placeholder: 'Type display names of recipients here' } })
  .form-group
    = f.label :subject
    = f.text_field :subject, placeholder: 'Type your subject here', class: 'form-control', required: true
  .form-group
    = f.label :message
    = f.text_area :body, class: 'form-control',placeholder: 'Type your message here', rows: 4, required: true
  .form-group.float-right
    = f.submit 'Send', class: 'btn btn-info', style: 'border: 1px solid black;'
