.row
  .col-6
    %h4.mb-3= "Subject: #{conversation.subject}"
  .col
    .float-right
      - if conversation.is_trashed?(authenticated_user)
        = link_to 'Restore', untrash_conversation_path(conversation), class: 'btn btn-primary', style: 'border: 1px solid black;', method: :post
      - else
        = link_to 'Move to trash', trash_conversation_path(conversation), class: 'btn btn-danger', style: 'border: 1px solid black;', method: :post,
         data: { confirm: 'Are you sure?' }
.table-responsive
  %table.table.messages-box.inside-message.align-items-center
    %tbody
      - @receipts.each do |receipt|
        - message = receipt.message
        %tr.bg-white
          %th{:scope => 'row'}
            %b From:
            = message.sender.display_name
            %br/
            = time_in_cdt(message.created_at, '%A, %b %d, %Y at %I:%M%p')
            %br/
            .mt-1= message.body
        %tr.table-divider
