%p Social Health Online Event Suggestions

%p
  <strong>Name:</strong> #{@authenticated_user.name}

%p
  <strong>Display Name:</strong> #{@authenticated_user.display_name}

%p
  <strong>Email:</strong> #{@authenticated_user.email}

%p
  <strong>Event Title:</strong> #{@form_params[:event_title]}

%p
  <strong>Event Date:</strong> #{@form_params[:event_date]}

%p
  <strong>Event Location:</strong> #{@form_params[:event_location]}

%p
  <strong>Event Details:</strong>
%p
  = #{@form_params[:event_details]}
