- page_title 'Event Links'

.container
  .row
    .col.py-3
      %h1.brand-primary.text-center Event Links

  .row
    .col-md-12
      %p.text-center.mb-3.p-2{style: "border: 1px solid black;"}
        %strong
          The links below go to websites that have been vetted and listed for Users to find more local activities to participate in.

  .row.my-3
    .col
      = form_with url: [:event_links], method: :get, local: true do |f|
        .form-group.form-inline.justify-content-center#explore_communities_form
          %div.form-group.col-12.col-sm-12.col-md-2.col-lg-2
            = f.select(:state, US_STATES, {}, class: "form-control find_by_state", include_blank: 'State', style: "width: 100%;")
          %div.form-group.col-12.col-sm-12.col-md-4.col-lg-4
            = f.text_field :city, placeholder: 'City (note: case sensitive)', class: 'form-control find_by_city', style: "width: 100%;"
        %div.form-row
          %div.col-12
            .col-xs-3.col-md-3.col-sm-3.mx-auto
              = f.button "Search", class: "form-control btn btn-primary mb-3", style: "border: 1px solid black"
            %h3.notification-title.justify-content-center.mb-2
              %strong Recommended Event Sites
      %div.table-wrapper-2.table-hover#events-feed{:style => "border-radius: 12px;"}
        %table.table.text-center
          %thead.mdb-color.lighten-4
            %tr
              %th Site Name
              %th
              %th Event Type
              %th
              %th Event City
              %th
              %th Event State
              %th
              %th Website

          %tbody
          - @resources.each do |resource|
            %tr.bg-white
              %td= resource.name
              %td
              %td= resource.event_type
              %td
              %td= resource.city
              %td
              %td= resource.state
              %td
              %td= link_to "Visit Website", resource.url, target: :_blank
              %td
            %tr.table-divider
        %div.container.pagination.justify-content-center
          %p= paginate @resources unless @resources.empty?
