- page_title 'Share Link'

.container
  .row
    .col.py-3
      %h1.brand-primary.text-center Share Link

  .row
    .col-md-12
      %p.text-center.mb-3.p-2{style: "border: 1px solid black;"}
        %strong
          Use this feature to share a link via email.

  .row
    .col-md-3
    .col-md-6.justify-content-center
      .card
        %p.text-left.px-3.py-2.mb-0
        .card-body.text-left.pt-0
          = form_with url: share_link_url, method: :post, local: true do
            .form-group.mt-2
              %label(for="email") Shared Link Email Address
              = email_field_tag :email, params[:email], placeholder: 'E.g., patsmith@gmail.com', class: 'form-control', required: true
            .form-group
              %label(for="shared_url") Shared Link URL
              = text_field_tag :url, params[:url], placeholder: 'E.g., www.google.com', autofocus: true, class: 'form-control', required: true
            .form-group
              %label(for="shared_notes") Shared Link Notes (Optional)
              = text_area_tag :notes, params[:notes], autofocus: true, class: 'form-control'
            .row.justify-content-center
              = submit_tag 'Send', class: 'btn btn-primary', :style => 'border: 1px solid black;', data: { disable_with: 'Please wait...' }
              &nbsp
              = link_to 'javascript:history.back()', class: 'btn btn-outline-secondary', style: 'border: 1px solid black;' do
                Cancel
