- title = 'Verify the bank account with micro-deposits'
- page_title title

.container
  .row.pt-3
    .col.pb-4
      %h1.brand-primary.text-center= title
  .row
    .col

      = form_with url: ach_path, method: :patch, local: true do |f|
        .row
          .col
            .form-group
              %label Micro Deposit #1
              = f.text_field :deposit_1, autofocus: true, required: true, class: 'form-control', placeholder: '0.32'
          .col
            .form-group
              %label Micro Deposit #2
              = f.text_field :deposit_2, autofocus: true, required: true, class: 'form-control', placeholder: '0.45'
        .row.justify-content-center.pt-1.pb-3
          = f.submit 'Verify', class: 'btn btn-primary', :style => 'border: 1px solid black;', data: { disable_with: 'Sending...' }
