%br
.container
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
    %h1.brand-primary My Community Announcements
    %div
      - if authenticated_user.manager?
        %div.float-right.new_manage_user_button
          .dropdown
            %a.btn.btn-primary.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              %i.fas.fa-cog
              Manage
            .dropdown-menu.dropdown-menu-right
              = link_to manage_edit_member_path, class: 'dropdown-item' do
                %i.fas.fa-building
                Community Profile
              = link_to manage_events_path, class: 'dropdown-item' do
                %i.fas.fa-map-marker-alt
                Community Events
              = link_to manage_social_tracker_users_path(authenticated_user.member), class: 'dropdown-item' do
                %i.fas.fa-database
                Social Tracker
              = link_to manage_users_path, class: 'dropdown-item' do
                %i.fas.fa-user-circle
                Manage Users

        %div.float-right
          = link_to new_manage_announcement_path, class: 'btn btn-primary' do
            %i.fas.fa-plus-circle
            Add Announcement

  - if @announcements.any?
    .table-responsive.text-center
      %table.table.table-borderless.table-hover
        %thead
          %tr
            %th Announcement Title
            %th Announcement Body
            %th Added On
            %th
        %tbody
          - @announcements.each.with_index(1) do |announcement, i|
            %tr.bg-white
              %td= link_to truncate("#{i}. #{announcement.title}"), manage_announcement_path(announcement)
              %td= truncate(announcement.body)
              %td= time_in_cdt(announcement.created_at, '%Y-%m-%d %H:%M')
              %td
                = link_to edit_manage_announcement_path(announcement), title: 'Edit', class: 'btn btn-sm btn-outline-primary' do
                  %i.far.fa-edit
                &nbsp;
                = link_to manage_announcement_path(announcement), title: 'delete announcement', id: "delete_announcement_#{announcement.id}", class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this notification. Press OK to continue.' } do
                  %i.far.fa-trash-alt
            %tr.table-divider
    %p= paginate @announcements
  - else
    %p.text-muted
      %em No announcement were found.
%br
