.container

  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom.mt-3
    %h1.brand-primary= @announcement.title

  %p
    = simple_format(@announcement.body)

  .mb-3
    = link_to manage_announcements_path, class: 'btn btn-outline-primary'do
      %i.fas.fa-arrow-left
      Back
    &nbsp;
    = link_to edit_manage_announcement_path(@announcement), class: 'btn btn-outline-primary' do
      %i.far.fa-edit
      Edit
    &nbsp;
    = link_to manage_announcement_path(@announcement), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Please confirm that you wish to delete this notification. Press OK to continue.' } do
      %i.far.fa-trash-alt
      Delete
%br
%br
