%nav(aria-label="breadcrumb")
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Members', console_members_path
    %li.breadcrumb-item= link_to @member.name, console_member_path(@member.id)
    %li.breadcrumb-item.active(aria-current="page") Users

%div#profile_partial
- if @member.users.length < @member.service_capacity
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
    %h1.h3.brand-primary Users
    %div
      = link_to new_console_member_user_path(@member.id), class: 'btn btn-primary', :style => 'border: 1px solid black;' do
        %i.fas.fa-plus-circle
        Add User

.row
  .col-12.col-md-4.col-lg-6
    %h5.mb-0 Filter - By Name
    <p class ="font-weight-bold under_label_text">(note: full name required and case sensitive)</p>
    .col-12.col.md-4.col-lg-6.justify-content-center
      = form_with url: console_member_users_path(@member.id), method: :get, local: true do |f|
        .form-group.form-inline.justify-content-center#explore_communities_form
        = f.text_field :name, placeholder: 'Name', class: 'form-control find_by_city', style: "width: 100%;"
        %p
        = f.button "Filter", class: "form-control btn btn-primary mb-2", style: "border: 1px solid black"
        = link_to "Undo Filter", {:onclick => "history.go(0)" }, class: 'form-control btn btn-primary mb-3', style: 'border: 1px solid black'

- if @users.any?
  .table-responsive.user-list-table.mb-3{ :style => 'border: 2px solid black; border-radius: 12px;' }
    %table.table.table-borderless.align-items-center.table-hover
      %thead
        %tr
          %th= sort_link 'name', 'Name'
          %th= sort_link 'display_name', 'Display Name'
          %th= sort_link 'email', 'Email'
          %th= sort_link 'manager', 'Manager'
          %th= sort_link 'last_sign_in_at', 'Last Sign In'
          %th Guest
          %th Status
      %tbody
        - @users.each_with_index do |user, i|
          %tr.bg-white
            %th(scope="row")= link_to "#{i+1}. #{user.name}", console_member_user_path(@member.id, user)
            %td
              %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover', user: user }" } }
                =user.display_name
            %td= user.email
            %td= user.manager? ? 'Yes' : 'No'
            %td= short_date user.last_sign_in_at
            %td= user.guest? ? 'Yes' : 'No'
            %td= user.user_status.capitalize
            %td.w-10.text-right
              .dropdown
                = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{user.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                  %i.fas.fa-ellipsis-h
                .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{user.id}")
                  = link_to edit_console_member_user_path(@member.id, user), title: 'Edit', class: 'dropdown-item text-info' do
                    %i.far.fa-edit
                    Edit
                  = link_to console_member_user_path(@member.id, user), title: 'Delete', id: "delete_user_#{user.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this user. Press OK to continue.' } do
                    %i.far.fa-trash-alt
                    Delete
          %tr.table-divider
    %p= paginate @users
- else
  %p.text-muted.text-center
    %em No Users were found.

%div.mb-3
  = link_to 'javascript:history.back()', class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
    %i.fas.fa-arrow-left
    Back
