%nav(aria-label="breadcrumb")
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Members', console_members_path
    %li.breadcrumb-item= link_to @member.name, console_member_path(@member.id)
    %li.breadcrumb-item.active(aria-current="page") Users

- if @member.users.length < @member.service_capacity
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
    %h1.h3.brand-primary Users
    %div
      = link_to export_csv_console_member_user_path, class: 'btn btn-primary btn-export', :style => 'border: 1px solid black;' do
        Export CSV

      = link_to new_console_member_user_path(@member.id), class: 'btn btn-primary', :style => 'border: 1px solid black;' do
        %i.fas.fa-plus-circle
        Add User

- if @users.any?
  .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
    %table.table.table-borderless.align-items-center.table-hover
      %thead
        %tr
          %th= sort_link 'name', 'Name'
          %th= sort_link 'display_name', 'Display Name'
          %th= sort_link 'email', 'Email'
          %th= sort_link 'manager', 'Manager'
          %th= sort_link 'last_sign_in_at', 'Last Sign In'
          %th= sort_link 'enabled', 'Status'
          %th
      %tbody
        - @users.each_with_index do |user, i|
          %tr.bg-white
            %th(scope="row")= link_to "#{i+1}. #{user.name}", console_member_user_path(@member.id, user)
            %td
              %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                  data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover', user:user }" } }
                =user.display_name
            %td= user.email
            %td= user.manager? ? 'Yes' : 'No'
            %td= short_date user.last_sign_in_at
            %td= user.enabled? ? 'Enabled' : 'Disabled'
            %td.w-10.text-right
              .dropdown
                = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{user.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                  %i.fas.fa-ellipsis-h
                .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{user.id}")
                  = link_to edit_console_member_user_path(@member.id, user), title: 'Edit', class: 'dropdown-item text-info' do
                    %i.far.fa-edit
                    Edit
                  = link_to console_member_user_path(@member.id, user), title: 'Delete', id: "delete_user_#{user.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this user. Press OK to continue.' } do
                    %i.far.fa-trash-alt
                    Delete
          %tr.table-divider
    %p= paginate @users
- else
  %p.text-muted
    %em No Users were found.
