%nav(aria-label="breadcrumb")
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Members', console_members_path
    %li.breadcrumb-item= link_to @member.name, console_member_path(@member.id)
    %li.breadcrumb-item= link_to 'Users', console_member_users_path(@member.id)
    %li.breadcrumb-item.active(aria-current="page")= @user.name

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h3.brand-primary= @user.name

%p
  %strong Address:
  = @user.full_address

%p
  %strong Display Name:
  = @user.display_name

%p
  %strong Email:
  = @user.email

%p
  %strong Phone:
  = number_to_phone @user.phone

%p
  %strong Birthdate:
  = short_date @user.birthdate

%p
  %strong Gender:
  = @user.gender

%p
  %strong Race/Ethnicity:
  = @user.ethnicity

%p
  %strong Time Zone:
  = @user.time_zone

%p
  %strong Group:
  = @user.group

%p
  %strong Account Manager:
  = @user.manager? ? 'Yes' : 'No'

%p
  %strong Enabled:
  = @user.activated? ? 'Yes' : 'No'

%p
  = link_to console_member_users_path, class: 'btn btn-outline-primary', :style => 'border: 1px solid black;' do
    %i.fas.fa-arrow-left
    Back
  &nbsp;
  = link_to edit_console_member_user_path(@member.id, @user), class: 'btn btn-outline-primary' do
    %i.far.fa-edit
    Edit
  &nbsp;
  = link_to console_member_user_path(@member.id, @user), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Please confirm that you wish to delete this user. Press OK to continue.' } do
    %i.far.fa-trash-alt
    Delete
