- page_title 'My Community Social Tracker'

.container
  .row
    .col.py-3
      .row
        .col-8
          %h1.text-info My Community Social Tracker
          %h3.text-info Users
        .col-4
          .dropdown.text-right
            %a.btn.btn-primary.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              %i.fas.fa-cog
              Manage
            .dropdown-menu.dropdown-menu-right
              = link_to manage_edit_member_path, class: 'dropdown-item' do
                %i.fas.fa-building
                Community Profile
              = link_to manage_events_path, class: 'dropdown-item' do
                %i.fas.fa-map-marker-alt
                Community Events
      - if @users.any?
        .table-responsive.mt-3.text-center
          %table.table.table-borderless.align-items-center.table-hover(id="social-tracker-history-table")
            %thead
              %tr
                %th Name
                %th Display Name
                %th Total Events Logged
                %th Last Logged Event
            %tbody
            - @users.each.with_index(1) do |user, i|
              %tr.bg-white
                %td= link_to "#{i}. #{user.name}" , [:manage,:social_tracker,@member, user]
                %td= link_to user.display_name
                %td= user.total_social_events_logged
                %td= short_date(user.last_social_event_log_date) || "No Logs"
                %tr.table-divider
      - else
        %p.text-muted.my-4
          %em No Users were found.

      %p.pb-3
        = link_to my_community_path, class: 'btn btn-outline-primary' do
          %i.fas.fa-arrow-left
          Back
