- page_title 'Home'

.container
  .row.pt-3
    .col
      %h1.text-info.text-center Home

  .row.my-3
    .col
      %h3.notification-title.mb-2
        %strong Notifications
      #scroll-box{:style => "border-radius: 12px;"}
        - @notifications.each do |notification|
          .mb-3.text-center
            %h5= notification.title
            .notification-date.mb-2.border-bottom= time_in_cdt(notification.updated_at, '%m/%d/%Y')
            .notification-text.text-left.pb-2= simple_format(notification.body)
        %p= paginate @notifications
        - if @notifications.none?
          %p.mt-4.text-muted.text-center
            %em No notifications have been created.

    .col-12.pt-3
      %p.text-center
        =link_to 'Rewards Winners', rewards_path, class: 'btn btn-primary', style: 'border: 1px solid black'

  .row.my-3
    .col
      %h3.notification-title.mb-2
        %strong My Social Health
      %div.table-wrapper-2.py-2#events-feed{:style => "border-radius: 12px;"}
        %h5.notification-title Social Health Level
        %span.social-health-experience-level.bg-primary.text-white{:style => "border-radius: 12px;"}
          = @level
        %h5.notification-title.mt-2 Social Health Level Progress
        %span.social-health-experience-experience
          %div.progress{ :style => "border: 1px solid black;" }
            %div.progress-bar{"aria-valuemax" => "100","aria-valuemin" => "0",
                              "aria-valuenow" => "#{@progress}", :role => "progressbar", :style => "width:#{@progress}%"}
              ="#{@progress}%"

    .col-12.pt-3
      %p.text-center
        =link_to 'Log Events', social_tracker_log_path, class: 'btn btn-primary', style: 'border: 1px solid black'

  .row.my-3
    .col
      %h3.notification-title.mb-2
        %strong My Social Events
      %div.table-wrapper-2.table-hover#events-feed{:style => "border-radius: 12px;"}
        %table.table
          %thead.mdb-color.lighten-4.text-center
            %tr
              %th= sort_link 'title', 'Event Title'
              %th= sort_link 'start_at', 'Event Date/Time'
              %th RSVP
          %tbody
          - @events.each do |event|
            %tr.text-center.bg-white
              %td= link_to "#{event.title}", community_event_path(authenticated_user.member, event)
              %td= short_date_time(event.start_at, event.time_zone)
              %td= home_events_status(event.status)
              %td.text-center
                = link_to event_reminder_path(title: event.title, type: event.event_type, :location => event.location, :address => event.location_display, :start_at => (short_date_time(event.start_at, event.time_zone))), title: 'Event Reminder', class: 'btn btn-sm btn-outline-primary', style: 'border: 1px solid black' do
                  %i.fa.fa-exclamation-circle
                  Event Reminder
            %tr.table-divider
        %p= paginate @events, param_name: :event_page
        - if @events.none?
          %div.text-muted.pb-3.text-center
            %em No RSVP'd events.

    .col-12.pt-3
      %p.text-center
        =link_to 'Event Search', event_search_path, class: 'btn btn-primary', style: 'border: 1px solid black'
