.container
  .row.pt-3.pb-3
    %h2.brand-primary Messages
  .row.mb-2  
    .col-12.col-md-3.mb-1.order-md-1
      = link_to "Compose", new_conversation_path, class: "btn btn-success mb-3"
      .card.card-sm
        .list-group.list-group-flush
          = render 'mailbox/folders'
    .col-12.col-md-9.mb-1.order-md-2
      - if is_conversation
        = render 'conversations/form'
      - else
        - if @active.equal?(:trash) && messages.any?
          .row
            .col
              .pull-right
                = link_to 'Empty trash', mark_as_deleted_conversations_path, class: 'btn btn-danger mb-3', method: :post,
         data: { confirm: 'Are you sure?' }
        .table-responsive
          %table.table.table-borderless.align-items-center.messages-box
            %tbody
              = render partial: 'conversations/conversation', collection: messages, locals: { folder: @active }
        = paginate messages
