.container
  .row.pt-5
    .col
      %h2.brand-primary= @event.title
    %div
      .container.align-self-end
        .row
          .col-12
            %div
              .dropdown
                %a.btn.btn-primary.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  %i.fas.fa-hand-point-right
                  RSVP
                .dropdown-menu.dropdown-menu-right#rsvp-dropdown
                  - Rsvp.rsvp_statuses.keys.each do |value|
                    = @event.link_or_span(value, @rsvp_switcher)
 

  .row
    .col
      %section.section-lg
        %p
          %i.far.fa-calendar-alt
          = short_date_time @event.start_at, @event.time_zone
        %p
          %i.fas.fa-tag
          = @event.event_type
        %p
          %i.fas.fa-map-marker-alt
          = @event.location_display
        - if @event.url.present?
          %p
            %i.fas.fa-external-link-alt
            = link_to @event.url, @event.url, target: '_blank'
        %p
          %i.fas.fa-sticky-note
          = @event.details
        %p
          %strong RSVP List
        %div.table-wrapper-2
          %table.table
            %thead.mdb-color.lighten-4
              %tr
                %th
                %th.th-lg Name
                %th.th-lg
                %th.th-lg RSVP
                %th
            %tbody
            - @event.rsvps.each do |rsvp|
              %tr
                %th{scope: "row"}
                %td= rsvp.user.name
                %td
                %td= rsvp&.rsvp_status.capitalize
                %td

        %p
          = link_to community_path(@member.slug), class: 'btn btn-outline-secondary' do
            %i.fas.fa-arrow-alt-circle-left
            Back
