%div#profile_partial
#helper-method
.container.text-center
  .row.pt-3
    .col
      %h1.brand-primary.mb-3= @event.title
      -if @event.logo.present?
        %p.pb-1= @event.logo
  .row
    .col
      %p
        %i.c-pointer.fas.fa-portrait{:title => "Event Host"}
        = @event.member.name
      %p
        %i.c-pointer.fas.fa-tag{:title => "Event Type(s)"}
        = @event.event_type
      %p
        %i.c-pointer.far.fa-clock{:title => "Event Date/Time"}
        = short_date_time @event.start_at, @event.time_zone
      %p
        %i.c-pointer.fas.fa-image{:title => "Event Location"}
        = @event.location
      %p
      - if @event.address.present?
        %i.c-pointer.fas.fa-map-marker{:title => "Event Address"}
        = @event.location_display
      %p
      - if @event.url.present?
        %i.c-pointer.fas.fa-globe{:title => "Event Website"}
        = link_to @event.url, @event.url, target: '_blank'
      %p
      %p
        %i.c-pointer.fas.fa-door-open{:title => "Event Access"}
        = @event.private? ? 'Private' : 'Public'
      %p
      -if @event.details.present?
        %i.c-pointer.fas.fa-file-alt{:title => "Event Details"}
        = @event.details
      %p
      -if @event.rsvp_limit.present?
        %i.c-pointer.fas.fa-exclamation-triangle{:title => "RSVP Attendee Limit"}
        = @event.rsvp_limit
        Attendees Allowed
      %p
      %p
        %strong RSVP List
        .dropdown
          %a.btn.btn-primary.mb-3.dropdown-toggle{style: 'border: 1px solid black;'}(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            %i.fas.fa-hand-point-right
            RSVP
          .dropdown-menu.dropdown-menu-right#rsvp-dropdown
            - Rsvp.rsvp_statuses.keys.each do |value|
              = @event.link_or_span(value, @rsvp_switcher)
  .row.text-center
    .col-sm-4.offset-sm-4
      .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
        %table.table.text-left.mb-2.table-hover
          %thead.mdb-color.lighten-4
            %tr
              %th
              %th.th-lg Display Name
              %th.th-lg.text-center.pr-3 RSVP
          %tbody
          - @event.rsvps.each do |rsvp|
            %tr
              %td
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                    data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover',  user: rsvp.user }" } }
                  =rsvp.user.display_name
              %td.text-center.pr-3= rsvp&.rsvp_status.capitalize
            %div.container.pagination.justify-content-center

.container
  .col
    %div.form-row
      %div.float-left.pt-3
        = link_to 'javascript:history.back()', class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
          %i.fas.fa-arrow-left
          Back
        &nbsp
        = link_to event_reminder_path(:title => @event.title, :type => @event.event_type, :location => @event.location, :address => @event.location_display, :start_at => (short_date_time(@event.start_at, @event.time_zone))), title: 'Event Reminder', class: 'btn btn-outline-primary', style: 'border: 1px solid black' do
          %i.fa.fa-exclamation-circle
          Event Reminder

.container.text-center
  .col.mt-3
    %div.form-row
      %div.col-12
        %h3.notification-title.justify-content-center.py-2.border-top
          %strong Other Events Nearby
      %div.table-wrapper-2.mb-3.table-hover#events-feed{:style => "border-radius: 12px;"}
        %table.table.text-center
          %thead.mdb-color.lighten-4
            %tr
              %th
              %th= sort_link 'title', 'Event Title'
              %th
              %th= sort_link 'event_type', 'Event Type'
              %th= sort_link 'start_at', 'Event Date/Time'
          %tbody
          - @events.each do |event|
            %tr.bg-white
              %td
              %td= link_to event.title, community_event_path(authenticated_user.member, event)
              %td
              %td= event.event_type
              %td= short_date_time(event.start_at, event.time_zone)
            %tr.table-divider
        %div.container.pagination.justify-content-center
          %p= paginate @events
          - if @events.none?
            %p.text-muted.mb-3.text-center
              %em No other publicly-accessible Community events are scheduled near your city.
