%p Social Health Online Shared Link

%p
  <strong>Name:</strong> #{@authenticated_user.name}

%p
  <strong>Display Name:</strong> #{@authenticated_user.display_name}

%p
  <strong>Email:</strong> #{@authenticated_user.email}

%p
  <strong>Shared Link URL:</strong> #{@form_params[:url]}

%p
  <strong>Shared Link Notes:</strong> #{@form_params[:notes]}
