- page_title 'Social Fitness'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %div
    %h1.h3.brand-primary Social Fitness
    %h5.brand-primary Members
- if @members.any?
  .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
    %table.table.table-borderless.align-items-center.table-hover
      %thead
        %tr
          %th= sort_link 'name', 'Member Name'
          %th= sort_link 'city', 'City'
          %th= sort_link 'state', 'State'
          %th Export CSV
          %th
      %tbody
        - @members.each.with_index(1) do |member, i|
          %tr.bg-white
            %td= link_to "#{i}. #{member.name}" , [:console,:social_fitness,member]
            %td= member.city
            %td= member.state
            %td
              = link_to console_social_fitness_member_csv_path(member) do
                %span
                  %i(class="fas fa-download")
                  Export CSV
          %tr.table-divider
- else
  %p.text-muted
    %em No Members were found.
