%div#profile_partial
.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %div
    %h1.h3.brand-primary Social Fitness
    %nav(aria-label="breadcrumb")
      %ol.breadcrumb
        %li.breadcrumb-item= link_to 'Members', console_social_fitness_members_path
        %li.breadcrumb-item.active= @member.name
        %li.breadcrumb-item.active(aria-current="page") Users
    %h5.brand-primary Users

- if @users.any?
  .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
    %table.table.table-borderless.align-items-center.table-hover
      %thead
        %tr
          %th= sort_link 'name', 'Name'
          %th= sort_link 'display_name', 'Display Name'
          %th Total Entries Logged
          %th Last Logged Entry
      %tbody
        - @users.each.with_index(1) do |user, i|
          %tr.bg-white
            %td= link_to "#{i}. #{user.name}" , [:console,:social_fitness,@member, user]
            %td
              %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button', title: user.display_name,
                  data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover',  user: user }" } }
                =user.display_name
            %td= user.total_social_fitness_logs
            %td= short_date(user.last_social_fitness_log_date) || "No entries"
          %tr.table-divider
- else
  %p.text-muted.text-center
    %em No Users were found.
%p.mt-2
  = link_to console_social_fitness_members_path, class: 'btn btn-outline-primary', :style => 'border: 1px solid black;' do
    %i.fas.fa-arrow-left
    Back
