.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %div
    %h1.h3.brand-primary Social Fitness
    %nav(aria-label="breadcrumb")
      %ol.breadcrumb
        %li.breadcrumb-item= link_to 'Members', console_social_fitness_members_path
        %li.breadcrumb-item.active= @member.name
        %li.breadcrumb-item= link_to 'Users', [:console,:social_fitness,@member]
        %li.breadcrumb-item.active(aria-current="page")= @user.name

- if @social_fitness_logs.any?
  .row
    .col-sm-4.offset-sm-4
      - if @social_fitness_logs.any?
        .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
          %table.table.align-items-center.text-center.table-hover
            %thead
              %tr
                %th Log Date
            %tbody.bg-white
              - @social_fitness_logs.each do |log|
                %tr
                  %td= link_to short_date(log.created_at), [:console,:social_fitness,@member,@user,log], class: 'text-info'
                %tr.table-divider
        = paginate @social_fitness_logs
- else
  %p.text-muted
    %em No social fitness entries for this User.

%p
  = link_to [:console,:social_fitness,@member], class: 'btn btn-outline-primary mt-2', :style => 'border: 1px solid black;' do
    %i.fas.fa-arrow-left
    Back
