<div class="container">
  <div class="row pt-3">
    <div class="col pb-4">
      <h1 class="brand-primary text-center">Member Registration</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @member, url: members_registration_index_path, method: :post, local: true do |f| %>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Member Name</label>
              <%= f.text_field :name, autofocus: true, required: true, class: "form-control #{form_error_class(@member, :name)}" %>
              <%= model_error_display(@member, :name) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Address</label>
              <%= f.text_field :address, required: true, class: "form-control #{form_error_class(@member, :address)}" %>
              <%= model_error_display(@member, :address) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>City</label>
              <%= f.text_field :city, required: true, class: "form-control #{form_error_class(@member, :city)}" %>
              <%= model_error_display(@member, :city) %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>State</label>
              <%= f.select :state, US_STATES, {}, { class: "form-control custom-select #{form_error_class(@member, :state)}" } %>
              <%= model_error_display(@member, :state) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>ZIP</label>
              <%= f.text_field :zip, required: true, class: "form-control #{form_error_class(@member, :zip)}" %>
              <%= model_error_display(@member, :zip) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Phone</label>
              <%= f.text_field :phone, required: true, class: "form-control #{form_error_class(@member, :phone)}" %>
              <%= model_error_display(@member, :phone) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Website</label>
              <%= f.text_field :url, required: true, class: "form-control #{form_error_class(@member, :url)}" %>
              <%= model_error_display(@member, :url) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Contact Name</label>
              <%= f.text_field :contact_name, required: true, class: "form-control #{form_error_class(@member, :contact_name)}" %>
              <%= model_error_display(@member, :contact_name) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Contact Email</label>
              <%= f.email_field :contact_email, required: true, class: "form-control #{form_error_class(@member, :contact_email)}" %>
              <%= model_error_display(@member, :contact_email) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Contact Phone</label>
              <%= f.text_field :contact_phone, required: true, class: "form-control #{form_error_class(@member, :contact_phone)}" %>
              <%= model_error_display(@member, :contact_phone) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Contact Phone Extension</label>
              <%= f.text_field :contact_phone_extension, class: "form-control #{form_error_class(@member, :contact_phone_extension)}" %>
              <%= model_error_display(@member, :contact_phone_extension) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Account Manager's Name</label>
              <p class = "under_label_text">(Member's initial User)</p>
              <%= f.text_field :account_manager_name, required: true, class: "form-control #{form_error_class(@member, :account_manager_name)}" %>
              <%= model_error_display(@member, :account_manager_name) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group" id="account_manager_email_form">
              <label>Account Manager's Email</label>
              <%= f.email_field :account_manager_email,  required: true,class: "form-control #{form_error_class(@member, :account_manager_email)}" %>
              <%= model_error_display(@member, :account_manager_email) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label>User Seats</label>
              <p class = "under_label_text">(5 User minimum - includes Account Manager)</p>
              <%= f.text_field :service_capacity, required: true, class: "form-control #{form_error_class(@member, :service_capacity)}" %>
              <%= model_error_display(@member, :service_capacity) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check">
              <%= f.check_box :hide_info_on_locator, class: "form-check-input", id: "hideInfoCheckBox" %>
              <label for="hideInfoCheckBox">Hide Info On Member Locator</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check">
              <%= f.check_box :terms_of_service, class: "form-check-input", id: "termsCheckBox", 'data-data_capcha': false %>
              <label for="termsCheckBox">
                I agree to the
                <a target="_blank" href="https://docs.google.com/document/d/1U5V7BqmnuBweUSz4aXRdoShJu_e1GClLGe6lguEIHog/edit?usp=sharing">SaaS Agreement</a>
              </label>
            </div>
          </div>
        </div>
        <div>
          <%= recaptcha_tags callback: 'thenCapchaIsSubmited', expired_callback: 'expiredRecapchaCallback' %>
        </div>
        <div class="row justify-content-center pt-1 pb-3">
          <%= f.submit 'Submit', class: 'btn btn-primary mr-2', id: 'create_member', data: { disable_with: 'Saving...' }, disabled: true %>
          </br>
          <%= link_to 'Cancel', root_path, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
