.row
  .col
    .form-group
      %label(for="user_name") Name
      = f.text_field :name, autofocus: true, class: "form-control #{form_error_class(@admin, :name)}"
      = model_error_display(@admin, :name)
  .col
    .form-group
      %label(for="user_display_name") Display Name
      = f.text_field :display_name, class: "form-control #{form_error_class(@admin, :display_name)}"
      = model_error_display(@admin, :display_name)
.row
  .col
    .form-group
      %label(for="user_email") Email
      = f.email_field :email, class: "form-control #{form_error_class(@admin, :email)}"
      = model_error_display(@admin, :email)
  .col
    .form-group
      %label(for="user_phone") Phone
      = f.text_field :phone, class: "form-control #{form_error_class(@admin, :phone)}"
      = model_error_display(@admin, :phone)
.row
  .col
    .form-group
      %label(for="user_address") Address
      = f.text_field :address, class: "form-control #{form_error_class(@admin, :address)}"
      = model_error_display(@admin, :address)
  .col
    .form-group
      %label(for="user_city") City
      = f.text_field :city, class: "form-control #{form_error_class(@admin, :city)}"
      = model_error_display(@admin, :city)
.row
  .col
    .form-group
      %label(for="user_state") State
      = f.select :state, US_STATES, {}, { class: "form-control custom-select #{form_error_class(@admin, :state)}" }
      = model_error_display(@admin, :state)
  .col
    .form-group
      %label(for="user_zip") ZIP Code
      = f.text_field :zip, class: "form-control #{form_error_class(@admin, :zip)}"
      = model_error_display(@admin, :zip)
.row
  .col
    .form-group
      %label(for="user_time_zone") Timezone
      = f.select(:time_zone, ['Alaska', 'Hawaii', 'Pacific Time (US & Canada)', 'Mountain Time (US & Canada)', 'Central Time (US & Canada)', 'Eastern Time (US & Canada)'].sort, {}, { class: 'custom-select form-control' })
      = model_error_display(@admin, :time_zone)
  .col
    .form-group
      %label(for="user_birthdate") Birthdate (YYYY-MM-DD)
      = f.text_field :birthdate, class: "flatpickr-date form-control #{form_error_class(@admin, :birthdate)}"
      = model_error_display(@admin, :birthdate)
.row
  .col
    .form-group
      %label(for="user_gender") Gender
      = f.select :gender, User::GENDER, {}, { class: "form-control custom-select #{form_error_class(@admin, :gender)}" }
      = model_error_display(@admin, :gender)
  .col
    .form-group
      %label(for="user_ethnicity") Race/Ethnicity
      = f.select :ethnicity, User::ETHNICITY, {}, { class: "form-control custom-select #{form_error_class(@admin, :ethnicity)}" }
      = model_error_display(@admin, :ethnicity)
.row
  .col
    .card
      .card-body
        .form-check.mb-1
          = f.check_box :manager, class: 'form-check-input'
          %label.form-check-label(for="user_manager") Account Manager
        %small Manager for their Member account and Community
  .col
    .form-group
      %label(for="user_member_id") Member
      = f.select :member_id, options_from_collection_for_select(@members, :id, :name, @admin.member_id), {include_blank: true}, { class: "custom-select form-control #{form_error_class(@admin, :member)}" }
      = model_error_display(@admin, :member)
.row
  .col
    .card
      .card-body
        .form-check.mb-1
          = f.check_box :admin, class: 'form-check-input'
          %label.form-check-label(for="user_admin") Admin
        %small Site admin privileges
  .col
    .card
      .card-body
        .form-check.mb-1
          = f.check_box :enabled, class: 'form-check-input'
          %label.form-check-label(for="user_enabled") Enabled
        %small Enabled to sign in

.mb-5.text-center
  = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
  - if @admin.persisted?
    = link_to 'Cancel', console_admin_path(@admin), class: 'btn btn-outline-secondary'
  - else
    = link_to 'Cancel', console_admins_path, class: 'btn btn-outline-secondary'
