- page_title 'Admins'

%div#profile_partial
.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %h1.brand-primary Admins
  %div
    = link_to new_console_admin_path, class: 'btn btn-primary' do
      %i.fas.fa-plus-circle
      Add Admin

- if @admins.any?
  .table-responsive
    %table.table.table-borderless.align-items-center.table-hover
      %thead
        %tr
          %th(scope="col") Name
          %th(scope="col") Display Name
          %th(scope="col") Email
          %th(scope="col") Manager
          %th(scope="col") Last Sign In
          %th(scope="col")
      %tbody
        - @admins.each_with_index do |admin, i|
          %tr.bg-white
            %th(scope="row")= link_to "#{i+1}. #{admin.name}", console_admin_path(admin)
            %td
              %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                  data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover',  user: admin }" } }
                =admin.display_name
            %td= admin.email
            %td= admin.manager? ? 'Yes' : 'No'
            %td= short_date admin.last_sign_in_at
            %td.w-10.text-right
              .dropdown
                = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{admin.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                  %i.fas.fa-ellipsis-h
                .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{admin.id}")
                  = link_to edit_console_admin_path(admin), title: 'Edit', class: 'dropdown-item text-info' do
                    %i.far.fa-edit
                    Edit
                  = link_to console_admin_path(admin), title: 'Delete', id: "delete_admin_#{admin.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this admin. Press OK to continue.' } do
                    %i.far.fa-trash-alt
                    Delete
          %tr.table-divider
