- page_title 'Discounts Finder'

.container
  .row
    .col.py-3
      %h1.brand-primary.text-center Discounts Finder
  .row.my-3
    .col
      = form_with url: [:discounts_finder], method: :get, local: true do |f|
        .form-group.form-inline.justify-content-center#explore_communities_form
          %div.form-group.col-12.col-sm-12.col-md-2.col-lg-2
            = f.select(:state, US_STATES, {}, class: "form-control find_by_state", include_blank: 'State', style: "width: 100%;")
          %div.form-group.col-12.col-sm-12.col-md-4.col-lg-4
            = f.text_field :city, placeholder: 'City', class: 'form-control find_by_city', style: "width: 100%;"
        %div.form-row
          %div.col-12
            .col-xs-3.col-md-3.col-sm-3.mx-auto
              = f.button "Search", class: "form-control btn btn-primary mb-3", style: "border: 1px solid black"
            %h3.notification-title.justify-content-center.mb-2
              %strong Affiliate Discounts
      %div.table-wrapper-2.table-hover#events-feed{:style => "border-radius: 12px;"}
        %table.table.text-center
          %thead.mdb-color.lighten-4
            %tr
              %th Affiliate Name
              %th
              %th City
              %th
              %th State
              %th
              %th Website
              %th
              %th Discount
          %tbody
          - @affiliates.each do |affiliate|
            %tr.bg-white
              %td= affiliate.name
              %td
              %td= affiliate.city
              %td
              %td= affiliate.state
              %td
              %td= link_to "Visit Website", affiliate.url, target: :_blank
              %td
              %td.text-left
                = affiliate.support_notes
            %tr.table-divider
        %div.container.pagination.justify-content-center
          %p= paginate @affiliates unless @affiliates.empty?
        %br
