.row
  .col-lg-6
    .form-group
      %label(for="member_name") Member Name
      = f.text_field :name, autofocus: true, class: "form-control #{form_error_class(@member, :name)}", required: true
      = model_error_display(@member, :name)
  .col-lg-6
    .form-group
      %label(for="member_address") Address
      = f.text_field :address, class: "form-control #{form_error_class(@member, :address)}", required: true
      = model_error_display(@member, :address)
.row
  .col-lg-4
    .form-group
      %label(for="member_city") City
      = f.text_field :city, class: "form-control #{form_error_class(@member, :city)}", required: true
      = model_error_display(@member, :city)
  .col-lg-4
    .form-group
      %label(for="member_state") State
      = f.select :state, US_STATES, {}, { class: 'form-control custom-select' }
      = model_error_display(@member, :state)
  .col-lg-4
    .form-group
      %label(for="member_zip") ZIP Code
      = f.text_field :zip, class: "form-control #{form_error_class(@member, :zip)}", required: true
      = model_error_display(@member, :zip)
.row
  .col-lg-4
    .form-group
      %label(for="phone") Phone
      = f.text_field :phone, class: "form-control #{form_error_class(@member, :phone)}", required: true
      = model_error_display(@member, :phone)
  .col-lg-4
    .form-group
      %label(for="member_contact_name") Contact Name
      = f.text_field :contact_name, class: "form-control #{form_error_class(@member, :contact_name)}", required: true
      = model_error_display(@member, :contact_name)
  .col-lg-4
    .form-group
      %label(for="member_contact_email") Contact Email
      = f.email_field :contact_email, class: "form-control #{form_error_class(@member, :contact_email)}", required: true
      = model_error_display(@member, :contact_email)
.row
  .col-lg-4
    .form-group
      %label(for="member_contact_phone") Contact Phone
      = f.text_field :contact_phone, class: "form-control #{form_error_class(@member, :contact_phone)}", required: true
      = model_error_display(@member, :contact_phone)
  .col-lg-4
    .form-group
      %label(for="contact_phone_extension") Contact Phone Extension (Optional)
      = f.text_field :contact_phone_extension, class: "form-control #{form_error_class(@member, :contact_phone_extension)}"
      = model_error_display(@member, :contact_phone_extension)
  .col-lg-4
    .form-group
      %label(for="welcome_kit_date") Welcome Kit Date (Optional)
      = f.text_field :welcome_kit_date, class: "flatpickr-date form-control #{form_error_class(@member, :welcome_kit_date)}"
      = model_error_display(@member, :welcome_kit_date)
.row
  .col-lg-4
    .form-group
      %label(for="member_service_capacity") User Seats
      = f.text_field :service_capacity, class: "form-control #{form_error_class(@member, :service_capacity)}", required: true
      = model_error_display(@member, :service_capacity)
  .col-lg-4
    .form-group
      %label(for="member_account_start_date") Account Start Date
      = f.text_field :account_start_date, class: "flatpickr-date form-control #{form_error_class(@member, :account_start_date)}", required: true
      = model_error_display(@member, :account_start_date)
  .col-lg-4
    .form-group
      %label(for="member_account_end_date") Account End Date (Optional)
      = f.text_field :account_end_date, class: "flatpickr-date form-control #{form_error_class(@member, :account_end_date)}"
      = model_error_display(@member, :account_end_date)
.row
  .col-lg-6
    .form-group
      %label(for="member_url") Website
      = f.text_field :url, class: "form-control #{form_error_class(@member, :url)}", required: true
      = model_error_display(@member, :url)
  .col-lg-6
    .form-group
      %label(for="member_events_url")  Events Webpage (Optional)
      = f.text_field :events_url, class: "form-control #{form_error_class(@member, :events_url)}"
      = model_error_display(@member, :events_url)
.row
  .col-lg-4
    .form-group
      %label(for="member_org_type") Organization Type
      = f.select :org_type, ORG_TYPES, {}, { class: "form-control custom-select #{form_error_class(@member, :org_type)}" }
      = model_error_display(@member, :org_type)
  - if @member.persisted?
    .col-lg-4
      .form-group
        %label(for="member_primary_manager_id") Primary Manager
        = f.select :primary_manager_id,
            options_from_collection_for_select(@managers, 'id', 'name', @member.primary_manager_id),
            { include_blank: false }, { class: 'form-control custom-select' } if @managers.present?
        = model_error_display(@member, :primary_manager_id)
  .col-lg-4
    .form-group
      %label(for="status")  Status
      = f.label @member.status, class: "form-control disabled readonly #{form_error_class(@member, :status)}"
      = model_error_display(@member, :status)
.row
  .col-lg-4
    .form-group
      %label(for="social_media_url_one") Facebook Link (Optional)
      = f.text_field :social_media_url_one, class: "form-control #{form_error_class(@member, :social_media_url_one)}"
      = model_error_display(@member, :social_media_url_one)
  .col-lg-4
    .form-group
      %label(for="social_media_url_two") Instagram Link (Optional)
      = f.text_field :social_media_url_two, class: "form-control #{form_error_class(@member, :social_media_url_two)}"
      = model_error_display(@member, :social_media_url_two)
  .col-lg-4
    .form-group
      %label(for="social_media_url_three") Twitter Link (Optional)
      = f.text_field :social_media_url_three, class: "form-control #{form_error_class(@member, :social_media_url_three)}"
      = model_error_display(@member, :social_media_url_three)
.row
  .col
    .form-group
      %label(for="member_bio") Bio (Optional)
      = f.text_area :bio, rows: 4, class: "form-control #{form_error_class(@member, :bio)}"
      = model_error_display(@member, :bio)
.row
  .col-lg-4
    .card
      .card-body.text-center.px-1
        .form-group
          .form-check.mb-3
            = f.check_box :suspended, class: 'form-check-input'
            %label.form-check-label(for="member_suspended") Suspended Account - Member Account Suspended
  .col-lg-4
    .card
      .card-body.text-center.px-1
        .form-group
          .form-check.mb-3
            = f.check_box :hide_info_on_locator, class: 'form-check-input'
            %label.form-check-label(for="hide_info_on_locator") Member Locator - Hide Info on Member Locator
  .col-lg-4
    .card
      .card-body.text-center.px-1
        .form-group
          .form-check
            = f.check_box :public_member, class: 'form-check-input'
            %label.form-check-label(for="public_member") Public Member - List as Public Member
.row
  .col-lg-4
    .card
      .card-body.text-center.px-1
        .form-group
          .form-check
            = f.check_box :charity_waiver, class: 'form-check-input'
            %label.form-check-label(for="charity_waiver") Service Fee Waiver - Charitable Org
  .col-lg-4
    .card
      .card-body.text-center.px-1
        .form-group
          .form-check
            = f.check_box :hide_suggest_events, class: 'form-check-input'
            %label.form-check-label(for="hide_suggest_events") Suggest Events - Show Suggest Events Button
  .col-lg-4
    .card
      .card-body.text-center.px-1
        .form-group
          .form-check
            = f.check_box :hide_suggest_announcements, class: 'form-check-input'
            %label.form-check-label(for="hide_suggest_announcements") Suggest Announcements - Show Suggest Announcements Button
.row
  .col-lg-4
    .card
      .card-body.text-center
        .form-group
          .form-check
            = f.check_box :hide_challenges, class: 'form-check-input'
            %label.form-check-label(for="hide_challenges") Challenges - Hide the Challenges Button
  .col-lg-4
    .card
      .card-body.text-center
        .form-group
          .form-check
            = f.check_box :hide_connections, class: 'form-check-input'
            %label.form-check-label(for="hide_connections") Connections - Hide the Connections Button
.row
  .col-lg-6
    .form-group#file-field
      %label(for="member_logo") Member Logo (note: maximum file size is 10 MB)
      = f.file_field :logo, class: "form-control #{form_error_class(@member, :logo)}", accept: 'image/png,image/gif,image/jpeg', data: { max_file_size: 10.megabytes }
      = model_error_display(@member, :logo)

  .col-lg-6
    %p.text-muted Logo Preview:
    -if @member.logo.attached? && @member.logo.attachment.valid?
      = image_tag @member.logo, alt: 'Member Logo', size: '200x200'

.row
.text-center.py-3
  = f.submit 'Save', class: 'btn btn-primary', :style => 'border: 1px solid black;', data: { disable_with: 'Saving...' }
  - if @member.persisted?
    = link_to 'Cancel', console_member_path(@member.id), class: 'btn btn-outline-secondary', :style => 'border: 1px solid black;'
  - else
    = link_to 'Cancel', console_members_path, class: 'btn btn-outline-secondary', :style => 'border: 1px solid black;'
