= form_with model: @member, url: [:console, @member], local: true do |f|
  .row
    .col-lg-6
      .form-group
        %label(for="member_name") Member Name
        = f.text_field :name, autofocus: true, class: "form-control #{form_error_class(@member, :name)}"
        = model_error_display(@member, :name)
    .col-lg-6
      .form-group
        %label(for="member_address") Address
        = f.text_field :address, class: "form-control #{form_error_class(@member, :address)}"
        = model_error_display(@member, :address)
  .row
    .col-lg-4
      .form-group
        %label(for="member_city") City
        = f.text_field :city, class: "form-control #{form_error_class(@member, :city)}"
        = model_error_display(@member, :city)
    .col-lg-4
      .form-group
        %label(for="member_state") State
        = f.select :state, US_STATES, {}, { class: 'form-control custom-select' }
        = model_error_display(@member, :state)
    .col-lg-4
      .form-group
        %label(for="member_zip") Zip
        = f.text_field :zip, class: "form-control #{form_error_class(@member, :zip)}"
        = model_error_display(@member, :zip)
  .row
    .col-lg-4
      .form-group
        %label(for="member_contact_name") Contact Name
        = f.text_field :contact_name, class: "form-control #{form_error_class(@member, :contact_name)}"
        = model_error_display(@member, :contact_name)
    .col-lg-4
      .form-group
        %label(for="member_contact_email") Contact Email
        = f.email_field :contact_email, class: "form-control #{form_error_class(@member, :contact_email)}"
        = model_error_display(@member, :contact_email)
    .col-lg-4
      .form-group
        %label(for="member_contact_phone") Contact Phone
        = f.text_field :contact_phone, class: "form-control #{form_error_class(@member, :contact_phone)}"
        = model_error_display(@member, :contact_phone)
  .row
    .col-lg-4
      .form-group
        %label(for="member_service_capacity") Service Capacity
        = f.text_field :service_capacity, class: "form-control #{form_error_class(@member, :service_capacity)}"
        = model_error_display(@member, :service_capacity)
    .col-lg-4
      .form-group
        %label(for="member_account_start_date") Account Start Date
        = f.text_field :account_start_date, class: "flatpickr-date form-control #{form_error_class(@member, :account_start_date)}"
        = model_error_display(@member, :account_start_date)
    .col-lg-4
      .form-group
        %label(for="member_account_end_date") Account End Date
        = f.text_field :account_end_date, class: "flatpickr-date form-control #{form_error_class(@member, :account_end_date)}"
        = model_error_display(@member, :account_end_date)
  .row
    .col-lg-6
      .form-group
        %label(for="member_url") Website
        = f.text_field :url, class: "form-control #{form_error_class(@member, :url)}"
        = model_error_display(@member, :url)
    .col-lg-6
      .form-group
        %label(for="member_events_url") Events Website
        = f.text_field :events_url, class: "form-control #{form_error_class(@member, :events_url)}"
        = model_error_display(@member, :events_url)
  .row
    .col
      .form-group
        %label(for="member_bio") Bio
        = f.text_area :bio, rows: 4, class: "form-control #{form_error_class(@member, :bio)}"
        = model_error_display(@member, :bio)
  .row
    .col-lg-2
      .form-group
        .form-check.mb-3
          = f.check_box :suspended, class: 'form-check-input'
          %label.form-check-label(for="member_suspended") Suspended
    .col-lg-4
      .form-group
        .form-check.mb-3
          = f.check_box :hide_info_on_locator, class: 'form-check-input'
          %label.form-check-label(for="hide_info_on_locator") Hide Information on Member Locator

  .mb-5
    = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
    - if @member.persisted?
      = link_to 'Cancel', console_member_path(@member), class: 'btn btn-outline-secondary'
    - else
      = link_to 'Cancel', console_members_path, class: 'btn btn-outline-secondary'
