- page_title 'Members'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.pb-3.border-bottom
  %h1.h3.brand-primary Members
  %div
    = link_to export_user_csv_console_members_path, class: 'btn btn-primary btn-export', :style => 'border: 1px solid black;' do
      Export User CSV

    = link_to export_member_csv_console_members_path, class: 'btn btn-primary btn-export', :style => 'border: 1px solid black;' do
      Export Member CSV

    = link_to new_console_member_path, class: 'btn btn-primary', :style => 'border: 1px solid black;' do
      %i.fas.fa-plus-circle
      Add Member

.row.my-3
- if @members.any?
  .table-responsive.member-list-table{ :style => 'border: 2px solid black; border-radius: 12px;'}
    %table.table.table-borderless.align-items-center.table-hover
      %thead
        %tr
          %th(scope="col")= sort_link('name', 'Member Name')
          %th(scope="col")= sort_link('city', 'City')
          %th(scope="col")= sort_link('state', 'State')
          %th(scope="col")= sort_link('service_capacity', 'User Seats')
          %th(scope="col")= sort_link('account_start_date', 'Account Start Date')
          %th(scope="col")= sort_link('welcome_kit_date', 'Welcome Kit Date')
          %th(scope="col") Status
      %tbody
        - @members.each_with_index do |member, i|
          %tr.bg-white
            %th(scope="row")= link_to "#{i+1}. #{member.name}", console_member_path(member.id)
            %td= member.city
            %td= member.state
            %td= member.service_capacity
            %td= short_date member.account_start_date
            %td= short_date member.welcome_kit_date
            %td= member.status
            %td.w-10.text-right
              .dropdown
                = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{member.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                  %i.fas.fa-ellipsis-h
                .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{member.id}")
                  = link_to edit_console_member_path(member.id), title: 'Edit', class: 'dropdown-item text-info' do
                    %i.far.fa-edit
                    Edit
                  = link_to console_member_path(member.id), title: 'Delete', id: "delete_member_#{member.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this member. Press OK to continue.' } do
                    %i.far.fa-trash-alt
                    Delete
          %tr.table-divider
    %p= paginate @members
- else
  %p.text-muted
    %em No Members were found.
