%p New Social Health Online Affiliate Registration Submission

%p
  <strong>Affiliate Name:</strong> #{@form_params[:name]}
%p
  <strong>Email:</strong> #{@form_params[:email]}
%p
  <strong>Address:</strong> #{@form_params[:address]}
%p
  <strong>City:</strong> #{@form_params[:city]}
%p
  <strong>State:</strong> #{@form_params[:state]}
%p
  <strong>ZIP Code:</strong> #{@form_params[:zip]}
%p
  <strong>Phone:</strong> #{@form_params[:phone]}
%p
  <strong>Website:</strong> #{@form_params[:url]}
%p
  <strong>Contact Name:</strong> #{@form_params[:contact_name]}
%p
  <strong>Contact Email:</strong> #{@form_params[:contact_email]}
%p
  <strong>Contact Phone:</strong> #{@form_params[:contact_phone]}
%p
  <strong>Contact Phone Ext:</strong> #{@form_params[:contact_phone_extension]}
%p
  <strong>Support Type:</strong> #{@form_params[:support_type]}
%p
  <strong>Support Notes:</strong> #{@form_params[:support_notes]}
  
