- page_title 'My Events'

.container
  .row
    .col.py-3
      %h1.text-info.text-center My Events

  .row
    .col-md-12
      %p.text-center.mb-3.p-2{style: "border: 1px solid black;"}
        %strong
          With the information below you can easily track the Community social events that you have RSVP'd "Yes" or "Maybe" to.

  %h3.text-center.mb-2
    %strong My Social Events

  .row.mb-3.text-center
    .col
      %div.table-wrapper-2.table-hover#events-feed{:style => "border-radius: 12px;"}
        %table.table
          %thead.mdb-color.lighten-4.text-center
            %tr
              %th
              %th= sort_link 'title', 'Event Title'
              %th= sort_link 'start_at', 'Event Date/Time'
              %th RSVP
              %th
          %tbody
          - @events.each do |event|
            %tr.text-center.bg-white
              %td.c-pointer{:title => event.title}
                - if event.logo.attached?
                  = link_to (image_tag event.logo, size: '50x50'), community_event_path(authenticated_user.member, event)
                - else
                  = link_to (image_tag 'noimage.png', size: '50x50'), community_event_path(authenticated_user.member, event)
              %td.c-pointer{:title => event.title}= link_to "#{event.title}", community_event_path(authenticated_user.member, event)
              %td= short_date_time(event.start_at, event.time_zone)
              %td= home_events_status(event.status)
              %td.text-center
                = link_to event_reminder_path(title: event.title, type: event.event_type, :location => event.location, :address => event.location_display, :start_at => (short_date_time(event.start_at, event.time_zone))), title: 'Event Reminder', class: 'btn btn-sm btn-outline-primary', style: 'border: 1px solid black' do
                  %i.fa.fa-bell
                  Event Reminder
            %tr.table-divider
        %p= paginate @events
        - if @events.none?
          %div.text-muted.pb-3.text-center
            %em No RSVP'd events.
