.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %h1.h3.brand-primary Notifications
  %div
    = link_to new_console_notification_path, class: 'btn btn-primary' do
      %i.fas.fa-plus-circle
      Add Notification

- if @notifications.any?
  .table-responsive
    %table.table.table-borderless.table-hover
      %thead
        %tr
          %th= sort_link 'title', 'Notification Title'
          %th= sort_link 'body', 'Notification Body'
          %th= sort_link 'created_at', 'Added On'
          %th
      %tbody
        - @notifications.each.with_index(1) do |notification, i|
          %tr.bg-white
            %td= link_to truncate("#{i}. #{notification.title}"), console_notification_path(notification)
            %td= truncate(notification.body)
            %td= date_time_in_cst(notification.created_at)
            %td
              = link_to edit_console_notification_path(notification), title: 'Edit', class: 'btn btn-sm btn-outline-primary' do
                %i.far.fa-edit
              &nbsp;
              = link_to console_notification_path(notification), title: 'delete notification', id: "delete_notification_#{notification.id}", class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this notification. Press OK to continue.' } do
                %i.far.fa-trash-alt
          %tr.table-divider
  %p= paginate @notifications
- else
  %p.text-muted
    %em No notifications were found.
