- page_title 'Notifications'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.pb-3.border-bottom
  %h1.h3.brand-primary Notifications
  %div
    = link_to new_console_notification_path, class: 'btn btn-primary', :style => 'border: 1px solid black;' do
      %i.fas.fa-plus-circle
      Add Notification

- if @notifications.any?
  .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
    %table.table.table-borderless.table-hover
      %thead
        %tr
          %th= sort_link 'title', 'Notification Title'
          %th= sort_link 'body', 'Notification Body Preview'
          %th= sort_link 'special_notification', 'Special Notification'
          %th= sort_link 'created_at', 'Added On'
      %tbody
        - @notifications.each.with_index(1) do |notification, i|
          %tr.bg-white
            %td= link_to truncate("#{i}. #{notification.title}"), console_notification_path(notification)
            %td= truncate(notification.body)
            %td= notification.special_notification? ? 'Yes' : 'No'
            %td= time_in_cdt(notification.created_at, '%m/%d/%Y, %I:%M %p %Z')
            %td.w-10.text-right
              .dropdown
                = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{notification.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                  %i.fas.fa-ellipsis-h
                .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{notification.id}")
                  = link_to edit_console_notification_path(notification), title: 'Edit', class: 'dropdown-item text-info' do
                    %i.far.fa-edit
                    Edit
                  = link_to console_notification_path(notification), title: "Delete", id: "delete_notification_#{notification.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this notification. Press OK to continue.' } do
                    %i.far.fa-trash-alt
                    Delete
          %tr.table-divider
    %p= paginate @notifications
- else
  %p.text-muted.text-center
    %em No notifications were found.
