= form_with model: @affiliate, url: [:console, @affiliate], local: true do |f|
  .row
    .col-lg-6
      .form-group
        %label(for="affiliate_name") Affiliate Name
        = f.text_field :name, autofocus: true, class: "form-control #{form_error_class(@affiliate, :name)}"
        = model_error_display(@affiliate, :name)
    .col-lg-6
      .form-group
        %label(for="affiliate_address") Address
        = f.text_field :address, class: "form-control #{form_error_class(@affiliate, :address)}"
        = model_error_display(@affiliate, :address)
  .row
    .col-lg-4
      .form-group
        %label(for="affiliate_city") City
        = f.text_field :city, class: "form-control #{form_error_class(@affiliate, :city)}"
        = model_error_display(@affiliate, :city)
    .col-lg-4
      .form-group
        %label(for="affiliate_state") State
        = f.select :state, US_STATES, {}, { class: 'form-control custom-select' }
        = model_error_display(@affiliate, :state)
    .col-lg-4
      .form-group
        %label(for="affiliate_zip") ZIP Code
        = f.text_field :zip, class: "form-control #{form_error_class(@affiliate, :zip)}"
        = model_error_display(@affiliate, :zip)
  .row
    .col-lg-3
      .form-group
        %label(for="affiliate_phone") Phone
        = f.text_field :phone, class: "form-control #{form_error_class(@affiliate, :phone)}"
        = model_error_display(@affiliate, :phone)
    .col-lg-3
      .form-group
        %label(for="affiliate_url") Website
        = f.text_field :url, class: "form-control #{form_error_class(@affiliate, :url)}"
        = model_error_display(@affiliate, :url)
    .col-lg-3
      .form-group
        %label(for="affiliate_org_type") Organization Type
        = f.select :org_type, ORG_TYPES, {}, { class: "form-control custom-select #{form_error_class(@affiliate, :org_type)}" }
        = model_error_display(@affiliate, :org_type)
    .col-lg-3
      .form-group
        %label(for="date_added") Date Added
        = f.date_field :date_added, class: "flatpickr-date form-control #{form_error_class(@affiliate, :date_added)}"
        = model_error_display(@affiliate, :date_added)
  .row
    .col-lg-4
      .form-group
        %label(for="affiliate_contact_name") Contact Name
        = f.text_field :contact_name, class: "form-control #{form_error_class(@affiliate, :contact_name)}"
        = model_error_display(@affiliate, :contact_name)
    .col-lg-4
      .form-group
        %label(for="affiliate_contact_email") Contact Email
        = f.email_field :contact_email, class: "form-control #{form_error_class(@affiliate, :contact_email)}"
        = model_error_display(@affiliate, :contact_email)
    .col-lg-4
      .form-group
        %label(for="affiliate_contact_phone") Contact Phone
        = f.text_field :contact_phone, class: "form-control #{form_error_class(@affiliate, :contact_phone)}"
        = model_error_display(@affiliate, :contact_phone)
  .row
    .col-lg-3
      .form-group
        %label(for="affiliate_contact_phone_extension") Contact Phone Extension
        = f.text_field :contact_phone_extension, class: "form-control #{form_error_class(@affiliate, :contact_phone_extension)}"
        = model_error_display(@affiliate, :contact_phone_extension)
    .col-lg-3
      .form-group
        %label(for="affiliate_support_type") Support Type
        = f.select :support_type, support_types, {}, { class: 'form-control custom-select' }
        = model_error_display(@affiliate, :support_type)
    .col-lg-6
      .form-group
        %label(for="affiliate_support_notes") Support Notes
        = f.text_area :support_notes, class: "form-control #{form_error_class(@affiliate, :support_notes)}"
        = model_error_display(@affiliate, :support_notes)
  .row
    .col-lg-5
      .form-group
        .form-check.mb-3
          = f.check_box :hide_info_on_locator, class: 'form-check-input'
          %label.form-check-label(for="hide_info_on_locator") Hide Info - Pending Approval
  .row.pt-2.border-top
    .col-lg-6
      .form-group#file-field
        %label(for="affiliate_logo") Affiliate Logo (note: maximum file size is 10 MB)
        = f.file_field :logo, class: "form-control #{form_error_class(@affiliate, :logo)}", accept: 'image/png,image/gif,image/jpeg', data: { max_file_size: 10.megabytes }
        = model_error_display(@affiliate, :logo)

    .col-lg-6
      %p.text-muted Logo Preview:
      -if @affiliate.logo.attached? && @affiliate.logo.attachment.valid?
        = image_tag @affiliate.logo, alt: 'Affiliate logo', size: '200x200'



  .text-center
    = f.submit 'Save', class: 'btn btn-primary', :style => 'border: 1px solid black;', data: { disable_with: 'Saving...' }
    - if @affiliate.persisted?
      = link_to 'Cancel', console_affiliate_path(@affiliate), class: 'btn btn-outline-secondary', :style => 'border: 1px solid black;'
    - else
      = link_to 'Cancel', console_affiliates_path, class: 'btn btn-outline-secondary', :style => 'border: 1px solid black;'
