%nav(aria-label="breadcrumb")
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Partners', console_partners_path
    %li.breadcrumb-item.active(aria-current="page")= @partner.name

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h3.brand-primary= @partner.name

%p= @partner.full_address

%p
  %strong Phone:
  = number_to_phone @partner.phone

%p
  %strong Website:
  = link_to @partner.url, @partner.url, target: '_blank' if @partner.url.present?

%p
  = link_to edit_console_partner_path(@partner), class: 'btn btn-outline-primary' do
    %i.far.fa-edit
    Edit
  &nbsp;
  = link_to console_partner_path(@partner), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Please confirm that you wish to delete this partner. Press OK to continue.' } do
    %i.far.fa-trash-alt
    Delete
