- page_title 'Affiliate Registration'

.container
  .row.pt-3
    .col.pb-4
      %h1.brand-primary.text-center
        Affiliate Registration
  .row
    .col
      = form_with url: affiliates_registration_url, method: :post, local: true do
        = hidden_field_tag :subject, ''
        %h5.pb-2{:style => 'border-bottom: 2px solid black;'} Account Information
        .row
          .col-lg-6
            .form-group
              %label(for="name") Affiliate Name
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'Name of the organization registering to become an Affiliate'}
              = text_field_tag :name, params[:name], :placeholder => 'E.g., John\'s Family Fun Center', autofocus: true, class: 'form-control', required: true
          .col
            .form-group
              %label(for="address") Address
              = text_field_tag :address, params[:address], class: 'form-control', required: true
        .row
          .col-lg-6
            .form-group
              %label(for="email") City
              = text_field_tag :city, params[:city], class: 'form-control', required: true
          .col-lg-3
            .form-group
              %label(for="state") State
              = text_field_tag :state, params[:state], class: 'form-control', required: true
          .col-lg-3
            .form-group
              %label(for="zip") ZIP Code
              = text_field_tag :zip, params[:zip], class: 'form-control', required: true
            .form-group
        .row
          .col-lg-6
            .form-group
              %label(for="phone") Phone
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'Provide the area code and phone number of the registering organization here in ten digits'}
              = text_field_tag :phone, params[:phone], :placeholder => "E.g., 8662825789", class: 'form-control', required: true
          .col
            .form-group
              %label(for="url") Website
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'The website of the registering organization'}
              =text_field_tag :url, params[:url], :placeholder => "E.g., www.johnsfamilyfun.com", class: 'form-control', required: false
        .row
          .col-lg-6
            .form-group
              %label(for="contact_name") Contact Name
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'Name of the person responsible for the registration of an organization'}
              =text_field_tag :contact_name, params[:contact_name], class: 'form-control', required: true
          .col-lg
            .form-group
              %label(for="contact_email") Contact Email
              =email_field_tag :contact_email, params[:contact_email], class: 'form-control', required: true
        .row
          .col-lg-6
            .form-group
              %label(for="contact_phone") Contact Phone
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'Provide the area code and phone number of the person registering for an organization here in ten digits'}
              =text_field_tag :contact_phone, params[:contact_phone],  :placeholder => "E.g., 8662825789", class: 'form-control', required: true
          .col-lg
            .form-group
              %label(for="contact_phone_extension") Contact Phone Extension (Optional)
              =text_field_tag :contact_phone_extension, params[:contact_phone_extension], class: 'form-control', required: false
        .row
          .col-lg-6
            .form-group
              %label(for="support_type") Support Type
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'Describe what type of support your organization can provide to Social Health Users. Events are opportunites for social activities. Discounts are monetary discounts for goods and services'}
              =text_field_tag :support_type, params[:support_type], :placeholder => 'Events, Discounts, Events/Discounts', class: 'form-control', required: true
          .col-lg
            .form-group
              %label(for="support_notes") Support Notes
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'Describe any discounts available to Social Health\'s Users'}
              =text_field_tag :support_notes, params[:support_notes], :placeholder => 'E.g., 10% discount on all purchases', class: 'form-control', required: false

        .row
          %div.ml-2.mb-2
            = recaptcha_tags callback: 'thenCapchaIsSubmited', expired_callback: 'expiredRecapchaCallback'

        .row
          .col.pb-3
            %p
            By submitting this registration form, you confirm that you have read and agree
            to the&nbsp;
            %a{ href: affiliate_agreement_path, title: "Affiliate Agreement", target: '_blank' }> Affiliate Agreement.
            &nbsp

        .row.mb-3
          .col.text-center
            = submit_tag 'Submit', class: 'btn btn-primary', style: 'border: 1px solid black;', data: { disable_with: 'Please wait...' }
