- page_title 'My Contacts'

%div#profile_partial

.container
  .row
    .col.py-3
      %h1.text-info.text-center My Contacts
  .row
    .col-md-12
      %p.text-center.mb-3.p-2{style: "border: 1px solid black;"}
        %strong
          Manage your contacts here to easily communicate and coordinate activities with the Users you have connected with.

      %h3.text-center.mb-2
        %strong Contact List

  .row.mb-3.justify-content-center
    .col-md-4
      .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
        %table.table.align-items-center.text-center.table-hover.table-sm.mb-4
          %thead
            %tr
              %th
              %th Display Name
          %tbody
          - @contacts.each do |contact|
            %tr.bg-white
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button', title: contact.contact.display_name,
                  data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover', user: contact.contact }" } }
                  - if contact.contact.avatar.attached?
                    = image_tag contact.contact.avatar, size: '50x50'
                  - else
                    = image_tag 'noavatar.png', size: '50x50'
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button', title: contact.contact.display_name,
                  data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover', user: contact.contact }" } }
                  =contact.contact.display_name
              %td.text-center
                = link_to my_contact_path(contact), title: 'Delete', id: "delete_contact_#{contact.id}", class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this contact. Press OK to continue.' } do
                  %i.far.fa-trash-alt
                  Delete
                %tr.table-divider
        %p= paginate @contacts
        - if @contacts.none?
          %div.text-muted.pb-3.text-center
            %em No contacts were found.
