%nav(aria-label="breadcrumb")
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Event Links', console_event_links_path

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.pb-3.border-bottom
  %h1.h3.brand-primary= @resource.name

.row.justify-content-center
  .col-9
    .settings-box.pt-0{:style => "border-radius: 12px;"}
      %p
      - if @resource.event_type.present?
        %strong Event Type:
        = @resource.event_type
      %p
      - if @resource.city.present?
        %strong  City:
        = @resource.city
      %p
      - if @resource.state.present?
        %strong  State:
        = @resource.state
      %p
      %p
        %strong  Website:
        = @resource.url

.container
  .col
    %div.form-row
      %div.float-left.py-3
        = link_to console_event_links_path, class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
          %i.fas.fa-arrow-left
          Back
