%p Social Health Online Community Announcement Suggestions

%p
  <strong>Name:</strong> #{@authenticated_user.name}

%p
  <strong>Display Name:</strong> #{@authenticated_user.display_name}

%p
  <strong>Email:</strong> #{@authenticated_user.email}

%p
  <strong>Announcement Title:</strong> #{@form_params[:announcement_title]}

%p
  <strong>Announcement Details:</strong> #{@form_params[:announcement_details]}
