- page_title 'My Community Profile'

.container
  .row.pt-3
    .col
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3
        %h1.brand-primary My Community Profile
    .col.text-right
      .dropdown
        %a.btn.btn-primary.dropdown-toggle{:style => 'border: 1px solid black;'}(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          %i.fas.fa-cog
          Manage
        .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;'}
          = link_to manage_events_path, class: 'dropdown-item' do
            %i.fas.fa-map-marker-alt
            Community Events
          = link_to manage_social_tracker_users_path(@member), class: 'dropdown-item' do
            %i.fas.fa-database
            Social Tracker
          = link_to manage_announcements_path, class: 'dropdown-item' do
            %i.fas.fa.fa-bullhorn
            Announcements
          = link_to manage_challenges_path, class: 'dropdown-item' do
            %i.fas.fa.fa-puzzle-piece
            Challenges
          = link_to manage_users_path, class: 'dropdown-item' do
            %i.fas.fa-user-circle
            Users
          = link_to my_community_path, class: 'dropdown-item' do
            %i.fas.fa-angle-double-left
            Community Home
  .row
    .col
      = form_with model: @member, url: [:manage, :update, @member], local: true do |f|
        .row
          .col-lg-6
            .form-group
              %label(for="member_name")Member Name
              = f.text_field :name, autofocus: true, class: "form-control #{form_error_class(@member, :name)}"
              = model_error_display(@member, :name)
          .col-lg-6
            .form-group
              %label(for="member_address") Address
              = f.text_field :address, class: "form-control #{form_error_class(@member, :address)}"
              = model_error_display(@member, :address)
        .row
          .col-lg-3
            .form-group
              %label(for="member_city") City
              = f.text_field :city, class: "form-control #{form_error_class(@member, :city)}"
              = model_error_display(@member, :city)
          .col-lg-3
            .form-group
              %label(for="member_state") State
              = f.select :state, US_STATES, {}, { class: 'form-control custom-select' }
              = model_error_display(@member, :state)
          .col-lg-3
            .form-group
              %label(for="member_zip") ZIP Code
              = f.text_field :zip, class: "form-control #{form_error_class(@member, :zip)}"
              = model_error_display(@member, :zip)
          .col-lg-3
            .form-group
              %label(for="member_phone") Phone
              = f.text_field :phone, class: "form-control #{form_error_class(@member, :phone)}"
              = model_error_display(@member, :phone)
        .row
          .col-lg-4
            .form-group
              %label(for="member_org_type") Organization Type
              = f.select :org_type, ORG_TYPES, {}, { class: "form-control custom-select #{form_error_class(@member, :org_type)}" }
              = model_error_display(@member, :org_type)
          .col-lg-4
            .form-group
              %label(for="member_url") Website
              = f.text_field :url, class: "form-control #{form_error_class(@member, :url)}"
              = model_error_display(@member, :url)
          .col-lg-4
            .form-group
              %label(for="member_events_url") Events Webpage
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'If your organization already maintains an events page on another site, you can link Users to it with this field'}
              = f.text_field :events_url, class: "form-control #{form_error_class(@member, :events_url)}"
              = model_error_display(@member, :events_url)
        .row
          .col-lg-3
            .form-group
              %label(for="member_contact_name") Contact Name
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'Name of the person responsible for approving and maintaining the registration of your organization as a Member with Social Health'}
              = f.text_field :contact_name, class: "form-control #{form_error_class(@member, :contact_name)}"
              = model_error_display(@member, :contact_name)
          .col-lg-3
            .form-group
              %label(for="member_contact_email") Contact Email
              = f.email_field :contact_email, class: "form-control #{form_error_class(@member, :contact_email)}"
              = model_error_display(@member, :contact_email)
          .col-lg-3
            .form-group
              %label(for="member_contact_phone") Contact Phone
              = f.text_field :contact_phone, class: "form-control #{form_error_class(@member, :contact_phone)}"
              = model_error_display(@member, :contact_phone)
          .col-lg-3
            .form-group
              %label(for="member_primary_manager_id") Primary Manager
              %i.c-pointer.fas.fa-info-circle.fa{:title => 'This User acts as your Account Manager in Social Health Online and is the principal Manager for your Community'}
              = f.select :primary_manager_id, options_from_collection_for_select(@managers, 'id', 'name', @member.primary_manager_id), { include_blank: false }, { class: 'form-control custom-select' }
              = model_error_display(@member, :primary_manager_id)
        .row
          .col
            .form-group
              %label(for="member_bio") Bio
              = f.text_area :bio, rows: 4, class: "form-control #{form_error_class(@member, :bio)}"
              = model_error_display(@member, :bio)
        .row
          .col-lg-4
            .form-group#file-field
              %label(for="member_logo") Member Logo (note: maximum file size is 10 MB)
              = f.file_field :logo, class: "form-control #{form_error_class(@member, :logo)}", accept: 'image/png,image/gif,image/jpeg', data: { max_file_size: 10.megabytes }
              = model_error_display(@member, :logo)
          .col-lg-4
            .card
              .card-body
                .form-check
                  = f.check_box :hide_suggest_events, class: 'form-check-input'
                  %label.form-check-label(for="hide_suggest_events") Show the Suggest Events Button
          .col-lg-4
            .card
              .card-body
                .form-check
                  = f.check_box :hide_challenges, class: 'form-check-input'
                  %label.form-check-label(for="hide_challenges") Hide the Challenges Button
        .row
          .col-lg-4
            %p.text-muted Logo Preview:
            -if @member.logo.attached? && @member.logo.attachment.valid?
              = image_tag @member.logo, alt: 'Member Logo', size: '200x200'


        .my-3.text-center
          = f.submit 'Update', class: 'btn btn-primary', data: { disable_with: 'Updating...' }, :style => 'border: 1px solid black;'
