- page_title 'Social-Tracker | Self Assessment'

.container
  .row
    .col.py-3
      %h1.text-info Social Fitness
      %h3.text-info Self-Assessment
      %p.text-center.p-3{style: "border: 1px solid black;"}
        "Social fitness" is a term given to the status of the wellness of your relationships with others.
        Reflect on the many aspects of your social fitness and indicate your perception of them
        below to track your progress towards your personal goals.
      = form_with model: @social_fitness_log, url: social_fitness_log_path(@social_fitness_log), local: true, class: "pt-3" do |f|
        .row
          .col-lg-6
            .form-group
              %label(for="social_fitness_log_individuals")
                My social fitness with individuals is:
              = f.select :individuals, RATINGS, {}, { class: "form-control custom-select #{form_error_class(@social_fitness_log, :individuals)}" }
              = model_error_display(@social_fitness_log, :individuals)
            .form-group
              %label(for="social_fitness_log_groups")
                My social fitness with groups is:
              = f.select :groups, RATINGS, {}, { class: "form-control custom-select #{form_error_class(@social_fitness_log, :groups)}" }
              = model_error_display(@social_fitness_log, :groups)
            .form-group
              %label(for="social_fitness_log_family")
                My social fitness with my family is:
              = f.select :family, RATINGS_WITH_NA, {}, { class: "form-control custom-select #{form_error_class(@social_fitness_log, :family)}" }
              = model_error_display(@social_fitness_log, :family)
            .form-group
              %label(for="social_fitness_log_friends")
                My social fitness with my friends is:
              = f.select :friends, RATINGS_WITH_NA, {}, { class: "form-control custom-select #{form_error_class(@social_fitness_log, :friends)}" }
              = model_error_display(@social_fitness_log, :friends)
          .col-lg-6
            .form-group
              %label(for="social_fitness_log_colleagues")
                My social fitness with my colleagues is:
              = f.select :colleagues, RATINGS_WITH_NA, {}, { class: "form-control custom-select #{form_error_class(@social_fitness_log, :colleagues)}" }
              = model_error_display(@social_fitness_log, :colleagues)
            .form-group
              %label(for="social_fitness_log_significant_other")
                My social fitness with my significant other is:
              = f.select :significant_other, RATINGS_WITH_NA, {}, { class: "form-control custom-select #{form_error_class(@social_fitness_log, :significant_other)}" }
              = model_error_display(@social_fitness_log, :significant_other)
            .form-group
              %label(for="social_fitness_log_local_community")
                My social fitness with my local community is:
              = f.select :local_community, RATINGS_WITH_NA, {}, { class: "form-control custom-select #{form_error_class(@social_fitness_log, :local_community)}" }
              = model_error_display(@social_fitness_log, :local_community)
            .form-group
              %label(for="social_fitness_log_overall")
                My overall social fitness is:
              = f.select :overall, RATINGS, {}, { class: "form-control custom-select #{form_error_class(@social_fitness_log, :overall)}" }
              = model_error_display(@social_fitness_log, :overall)
          .col-lg-12
            .my-3.text-center
              = f.submit 'Log', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
