.row
  .col.py-3
    %h1.brand-primary.text-center= @target.month

.row.justify-content-center.text-center{ :style => "overflow:hidden;" }
  .col-10
    .settings-box.pb-0{:style => "border-radius: 12px;"}
      %p.mb-1
        %strong  Week One:
        = @target.weekone
      %p
        %strong  Social Target:
        = @target.targetone
      %p.mb-1
        %strong  Week Two:
        = @target.weektwo
      %p
        %strong  Social Target:
        = @target.targettwo
      %p.mb-1
        %strong  Week Three:
        = @target.weekthree
      %p
        %strong  Social Target:
        = @target.targetthree
      %p.mb-1
        %strong  Week Four:
        = @target.weekfour
      %p
        %strong  Social Target:
        = @target.targetfour
      %p.mb-1
      - if @target.weekfive.present?
        %strong  Week Five:
        = @target.weekfive
      %p.mb-1
      - if @target.targetfive.present?
        %strong  Social Target:
        = @target.targetfive
        %p.pb-2
.container
  .col
    %div.form-row
      %div.float-left.py-3
        = link_to social_fitness_plan_path, class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
          %i.fas.fa-arrow-left
          Back
