.container
  .row.pt-5
    .col
      %h2.brand-primary Contact Us
  .row.mb-5
    .col-md-4
      %p.lead Would you like to know more? Send us a message.
    .col-md-8
      .card
        .card-body
          = form_tag contact_url, method: :post, role: 'form' do
            = hidden_field_tag :subject, ''
            .form-group
              %label(for="name") Name
              = text_field_tag :name, params[:name], autofocus: true, class: 'form-control', required: true
            .form-group
              %label(for="email") Email
              = email_field_tag :email, params[:email], class: 'form-control', required: true
            .form-group
              %label(for="message") Message
              = text_area_tag :message, params[:message], class: 'form-control', required: true
            = submit_tag 'Send', class: 'btn btn-primary', data: { disable_with: 'Please wait...' }
