- page_title 'Contact'
= javascript_include_tag 'contact_form'

.container
  .row.pt-3.pb-3
    .col
      %h1.text-info Contact
  .row.mb-1
    .col-md-6
      %p.lead.pb-3.mb-0
        Contact us to get more information, apply for an open position, submit a sales inquiry, ask for service support, or request a free demo account!
      %p
        We are open Monday - Friday from 9:00 AM - 5:00 PM (CST)
      %p
        Address: 500 Southland Drive, Suite 127, Birmingham, AL 35226
      %p
        Phone: 1-866-282-5789
      %p.mb-3
        General Info & Sales:
        = mail_to 'sales@socialhealthonline.com'
        %br
        Service Support:
        = mail_to 'support@socialhealthonline.com'
        %br

    .col-md-6
      .card
        .card-body
          = form_with url: contact_url, method: :post, local: true do
            = hidden_field_tag :subject, ''
            .form-group
              %label(for="name") Name
              = text_field_tag :name, params[:name], autofocus: true, class: 'form-control', required: true
            .form-group
              %label(for="email") Email
              = email_field_tag :email, params[:email], class: 'form-control', required: true
            .form-group
              %label(for="message") Message
              = text_area_tag :message, params[:message], rows: '6', class: 'form-control', required: true
            .row
              %div.mb-2.ml-2
                = recaptcha_tags callback: 'thenCapchaIsSubmited', expired_callback: 'expiredRecapchaCallback'
            .col.text-center
              = submit_tag 'Send', class: 'btn btn-primary', style: 'border: 1px solid black;', data: { disable_with: 'Please wait...' }, id: 'send_contact'

.container
  .row
    .col.py-3
      %h1.text-info Social Media
  .row.pb-3
    .col-md-6.col-lg-4
      .text-center.brand-primary.mb-2
        = link_to 'https://www.facebook.com/socialhealthonline', target: '_blank' do
          %i.fab.fa-facebook-square.fa-5x
          %h5.text-info Facebook
    .col-md-6.col-lg-4
      .text-center.brand-primary.mb-2
        = link_to 'https://www.youtube.com/channel/UCNvu4X63s_k9UK5kKeGKVmg', target: '_blank' do
          %i.fab.fa-youtube.fa-5x
          %h5.text-info YouTube
    .col-md-6.col-lg-4
      .text-center.brand-primary.mb-2
        = link_to 'https://www.instagram.com/socialhealthonline', target: '_blank' do
          %i.fab.fa-instagram.fa-5x
          %h5.text-info Instagram
