- page_title 'Contact Us'

.container
  .row.pt-5.pb-3
    .col
      %h2.text-info Contact Us
  .row.mb-5
    .col-md-4
      %p.lead.pb-3
        Contact us to learn more about our service, request a demo, or acquire a limited 14-day free
        trial Guest User account!
      %p
        We are open Monday - Friday from 9:00 AM - 5:00 PM (CST)
      %p
        Address: 500 Southland Drive, Suite 127, Birmingham, AL 35226
      %p
        Phone: 1-866-282-5789
      %p
        Email: info@socialhealthonline.com

    .col-md-8
      .card
        .card-body
          = form_with url: contact_url, method: :post, local: true do
            = hidden_field_tag :subject, ''
            .form-group
              %label(for="name") Name
              = text_field_tag :name, params[:name], autofocus: true, class: 'form-control', required: true
            .form-group
              %label(for="email") Email
              = email_field_tag :email, params[:email], class: 'form-control', required: true
            .form-group
              %label(for="message") Message
              = text_area_tag :message, params[:message], rows: '6', class: 'form-control', required: true
            = submit_tag 'Send', class: 'btn btn-primary', data: { disable_with: 'Please wait...' }
