- page_title 'My Community Users'

%div#profile_partial
.container
  %br
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top
    %h1.brand-primary My Community Users
    %div
      - if authenticated_user.manager?
        %div.float-right.new_manage_user_button
          .dropdown
            %a.btn.btn-primary.dropdown-toggle{style: 'border: 1px solid black'}(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              %i.fas.fa-cog
              Manage
            .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;'}
              = link_to manage_edit_member_path, class: 'dropdown-item' do
                %i.fas.fa-building
                Community Profile
              = link_to manage_events_path, class: 'dropdown-item' do
                %i.fas.fa-map-marker-alt
                Community Events
              = link_to manage_social_tracker_users_path(authenticated_user.member), class: 'dropdown-item' do
                %i.fas.fa-database
                Social Tracker
              = link_to manage_announcements_path, class: 'dropdown-item' do
                %i.fas.fa-bullhorn
                Announcements
              = link_to my_community_path, class: 'dropdown-item' do
                %i.fas.fa-angle-double-left
                Community Home

        %div.float-right
          = link_to new_manage_user_path, class: 'btn btn-primary', style: 'border: 1px solid black;' do
            %i.fas.fa-plus-circle
            Add Users
  %h6.mt-2= "Service Capacity: #{@service_capacity}"
  %h6= "Current User Total: #{@users_count}"


  - if @users.any?
    .table-responsive.text-center{ :style => 'border: 2px solid black; border-radius: 12px;'}
      %table.table.table-borderless.table-hover
        %thead
          %tr
            %th= sort_link 'name', 'Name'
            %th= sort_link 'display_name', 'Display Name'
            %th= sort_link 'email', 'Email'
            %th= sort_link 'status', 'Status'
            %th= sort_link 'manager', 'Manager'
            %th
        %tbody
          - @users.each.with_index(1) do |user, i|
            %tr.bg-white
              %td= link_to "#{i}. #{user.name}", edit_manage_user_path(user)
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                    data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover',  user: user }" } }
                  =user.display_name
              %td= truncate(user.email)
              %td= user.user_status.capitalize
              %td= user.user_manager?
              %td
                = link_to edit_manage_user_path(user), title: 'Edit', class: 'btn btn-sm btn-outline-primary' do
                  %i.far.fa-edit
                &nbsp;
                = link_to manage_user_path(user), title: 'Delete', id: "delete_user_#{user.id}", class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this user. Press OK to continue.' } do
                  %i.far.fa-trash-alt
            %tr.table-divider
    %p= paginate @users
    %br
  - else
    %p.text-muted
      %em No users were found.
