%footer.bg-gray.text-light.footer-short
  .container
    .row.pt-3
      .col-12.col-md-4
        %a{ :href => "/", :title => "Homepage" }
          = image_tag 'logo.png', alt: 'Social Health Online', height: '40', class: 'mb-4'
        %p.text-muted
          Copyright &copy; #{Date.today.year} Social Health, LLC.
          %br
          All rights reserved.
          %br
          Terms &amp; Conditions of Use, Privacy Policy, features, support, pricing, and service options subject to change without notice.
      .col-12.col-md-6.text-center
        = link_to 'Terms &amp; Conditions of Use'.html_safe, 'https://docs.google.com/document/d/e/2PACX-1vRCNcisGQv58Gt8Y799gFDLvydg1DNIXX_IfNkRRd6fc1KQvvxxvhwGsRe0kISy5vwiKB0IXf7NUssP/pub', target: '_blank'
        %span.px-2.text-white &middot;
        = link_to 'Privacy Policy', 'https://docs.google.com/document/d/e/2PACX-1vQRgQpvflp4NkDfZJW7VGwUZSTmWtp6VYK3qqqSaSPBkz-epF4pQ7ldoaRNd88-_22w-38iEmMty7T9/pub', target: '_blank'
        %span.px-2.text-white &middot;
        = link_to 'FAQ', 'https://docs.google.com/document/d/e/2PACX-1vSaxPp-OKepuuYKuzQicSJQYxiorHEI8gP3ZOVVLDPNOaby2Kh-7FxAdsOZTNXRA-cHdznNN3spBLK6/pub', target: '_blank'

        %p.mt-3
          = link_to 'About Us', about_us_path
          %span.px-2.text-white &middot;
          = link_to 'Service Information', service_path
          %span.px-2.text-white &middot;
          = link_to 'Service Highlights', service_highlights_path
          %span.px-2.text-white &middot;
          = link_to 'Joining', join_path
        
          %br

          = link_to 'Membership', membership_path
          %span.px-2.text-white &middot;
          = link_to 'Member Locator', member_locator_path
          %span.px-2.text-white &middot;
          = link_to 'Affiliate Locator', affiliate_locator_path
          
          %br

          = link_to 'Pricing', pricing_path
          %span.px-2.text-white &middot;
          = link_to 'Support', support_path
          %span.px-2.text-white &middot;
          = link_to 'News', news_path
          %span.px-2.text-white &middot;
          = link_to 'Contact Us', contact_path

      .col-12.col-md-2
        %ul.text-right#social-links
          %li
            = link_to 'https://www.facebook.com/socialhealthonline', target: '_blank' do
              = image_tag 'facebook.svg', class: 'img-fluid', alt: 'Facebook', style: 'height: 25px'
          %li
            = link_to 'https://www.youtube.com/channel/UCNvu4X63s_k9UK5kKeGKVmg', target: '_blank' do
              = image_tag 'youtube.svg', class: 'img-fluid', alt: 'Youtube', style: 'height: 25px'
          %li
            = link_to 'https://www.instagram.com/socialhealthonline', target: '_blank' do
              = image_tag 'instagram.svg', class: 'img-fluid', alt: 'Instagram', style: 'height: 25px'
