%footer.bg-gray.text-light.footer-short
  .container
    .row.pt-3
      .col-12.col-md-3.mb-3.text-center
        %a{ :href => "/", :title => "Homepage" }
          = image_tag 'logo.png', alt: 'Social Health Online', height: '40', class: 'mb-2'
        %p.text-muted.text-center
          Copyright &copy; #{Date.today.year} Social Health, LLC. All rights reserved.
          %br
          Terms &amp; Conditions of Use, Privacy Policy, features, support, pricing, and service options subject to change without notice.
      .col-12.col-md-6.text-center
        = link_to 'Terms & Conditions of Use', terms_path
        %span.px-2.text-white &middot;
        = link_to 'Privacy Policy', privacy_path 
        %span.px-2.text-white &middot;
        = link_to 'FAQ', faq_path

        %p.mt-3.mb-3
          = link_to 'About Us', about_us_path
          %span.px-2.text-white &middot;
          = link_to 'Service Information', service_path
          %span.px-2.text-white &middot;
          = link_to 'Service Highlights', service_highlights_path

          %br

          = link_to 'Service Screenshots', service_screenshots_path
          %span.px-2.text-white &middot;
          = link_to 'Membership Information', membership_path
          %span.px-2.text-white &middot;
          = link_to 'Member Locator', member_locator_path

          %br

          = link_to 'Affiliate Locator', affiliate_locator_path
          %span.px-2.text-white &middot;
          = link_to 'User Enrollment', join_path
          %span.px-2.text-white &middot;
          = link_to 'Pricing', pricing_path

          %br

          = link_to 'Support', support_path
          %span.px-2.text-white &middot;
          = link_to 'News', news_path
          %span.px-2.text-white &middot;
          = link_to 'Contact', contact_path

      .col-12.col-md-3
        %ul.text-center.pl-0#social-links
          %li
            = link_to 'https://www.facebook.com/socialhealthonline', target: '_blank' do
              = image_tag 'facebook.svg', class: 'img-fluid', alt: 'Facebook', style: 'height: 25px'
          %li
            = link_to 'https://www.youtube.com/channel/UCNvu4X63s_k9UK5kKeGKVmg', target: '_blank' do
              = image_tag 'youtube.svg', class: 'img-fluid', alt: 'Youtube', style: 'height: 25px'
          %li
            = link_to 'https://www.instagram.com/socialhealthonline', target: '_blank' do
              = image_tag 'instagram.svg', class: 'img-fluid', alt: 'Instagram', style: 'height: 25px'

          .row-mb-2.text-muted.text-center.pl-0
            %br
            500 Southland Drive, Suite 127,
            %br
            Birmingham, AL 35226
            %br
            %a{ href: 'mailto:info@socialhealthonline.com',
               title: 'info@socialhealthonline.com',
               target: '_blank'}> info@socialhealthonline.com
            %br
            1-866-282-5789
