%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv' => 'x-ua-compatible', content: 'ie=edge'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
  %title= content_for?(:title) ? yield(:title) + ' &middot; Social Health - Making Social Lives More Rewarding'.html_safe : 'Social Health - Making Social Lives More Rewarding'
  %link(href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet")
  %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
  = csrf_meta_tag
  = tag :meta, name: 'stripe-key', content: Rails.application.credentials[Rails.env.to_sym][:stripe][:publishable_key]
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = Gon::Base.render_data
  = favicon_link_tag 'favicon-square-512.png', rel: 'shortcut icon', type: 'image/png'
  = render 'google_analytics'
