.nav-container
  .bg-info.navbar-dark{:style => 'border-bottom: 1px solid black; border-top: 1px solid black;'}
    .container
      %nav.navbar.navbar-expand-lg.py-1
        = link_to root_path, class: 'navbar-brand' do
          = image_tag 'logo.png', alt: 'Social Health', height: '40'
        %button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          Menu
          %i.fas.fa-caret-down
        .collapse.navbar-collapse.justify-content-between#navbarNav
          %ul.navbar-nav.font-weight-bold
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{href: '/service', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
                = 'Service'
              .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;', 'aria-labelledby' => 'communitiesDropdownMenuLink'}
                = link_to about_us_path, class: 'dropdown-item' do
                  About Us
                = link_to service_path, class: 'dropdown-item' do
                  Service Information
                = link_to service_highlights_path, class: 'dropdown-item' do
                  Service Highlights
                = link_to service_screenshots_path, class: 'dropdown-item' do
                  Service Screenshots
            -# %li.nav-item{class: "#{active_nav('participation')}"}
            -#   = link_to 'Participation', participation_path, class: 'nav-link'
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{href: '/participation', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
                = 'Participation'
              .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;', 'aria-labelledby' => 'communitiesDropdownMenuLink'}
                = link_to participation_path, class: 'dropdown-item' do
                  Participation Information
                = link_to member_locator_path, class: 'dropdown-item' do
                  Member Locator
                = link_to affiliate_locator_path, class: 'dropdown-item' do
                  Affiliate Locator
                = link_to join_path, class: 'dropdown-item' do
                  User Enrollment
            %li.nav-item{class: "#{active_nav('pricing')}"}
              = link_to 'Pricing', pricing_path, class: 'nav-link'
            %li.nav-item{class: "#{active_nav('news')}"}
              = link_to 'Blog', "http://blog.socialhealthonline.com/", target: '_blank', class: 'nav-link'
            %li.nav-item{class: "#{active_nav('news')}"}
              = link_to 'News', news_path, class: 'nav-link'
            %li.nav-item{class: "#{active_nav('contact')}"}
              = link_to 'Careers', careers_path, class: 'nav-link'
            %li.nav-item{class: "#{active_nav('contact')}"}
              = link_to 'Contact', contact_path, class: 'nav-link'
          %ul.navbar-nav.font-weight-bold
            - if authenticated_user
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle#userDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
                  = authenticated_user.name
                .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;', 'aria-labelledby' => 'communitiesDropdownMenuLink'}
                  - if authenticated_user.admin?
                    = link_to console_path, class: 'dropdown-item' do
                      %i.fas.fa-tachometer-alt
                      Console
                  = link_to profile_path, class: 'dropdown-item' do
                    %i.fas.fa-user
                    My Profile
                  = link_to my_achievements_path, class: 'dropdown-item' do
                    %i.fas.fa-award
                    My Achievements
                  = link_to my_contacts_path, class: 'dropdown-item' do
                    %i.fas.fa-address-book
                    My Contacts
                  = link_to my_events_path, class: 'dropdown-item' do
                    %i.fas.fa-calendar
                    My Events
                  = link_to my_settings_path, class: 'dropdown-item' do
                    %i.fas.fa-wrench
                    My Settings
                  = link_to signout_path, method: :delete, class: 'dropdown-item', id: 'nav-signout', data: { confirm: 'Are you sure you would like to sign out? Press OK to continue.' } do
                    %i.fas.fa-sign-out-alt
                    Sign Out
            - else
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle.c-pointer{'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
                  = 'Register'
                .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;', 'aria-labelledby' => 'navbarDropdownMenuLink'}
                  = link_to new_members_registration_path, class: 'dropdown-item' do
                    Member Registration
                  = link_to affiliates_registration_path, class: 'dropdown-item' do
                    Affiliate Registration
                  = link_to users_registration_path, class: 'dropdown-item' do
                    Guest User Registration
              %li.nav-item
                = link_to 'Sign In', signin_path, class: 'nav-link'
