%nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-info#main-nav
  .container
    = link_to root_path, class: 'navbar-brand' do
      Social Health Online
    %button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarToggler' aria-controls='navbarToggler' aria-expanded='false' aria-label='Toggle navigation')
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarToggler
      %ul.navbar-nav.ml-auto
        %li.nav-item{class: "#{active_nav('')}"}
          = link_to 'About Us', about_us_path, class: 'nav-link'
        %li.nav-item{class: "#{active_nav('')}"}
          = link_to 'Our Service', service_path, class: 'nav-link'
        %li.nav-item{class: "#{active_nav('')}"}
          = link_to 'Join Up', join_path, class: 'nav-link'
        %li.nav-item{class: "#{active_nav('')}"}
          = link_to 'Our Partners', partners_path, class: 'nav-link'
        %li.nav-item{class: "#{active_nav('')}"}
          = link_to 'News', '#', class: 'nav-link'
        %li.nav-item{class: "#{active_nav('contact')}"}
          = link_to 'Contact Us', contact_path, class: 'nav-link'
        - if authenticated_user
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
              = authenticated_user.name
            .dropdown-menu.dropdown-menu-right{ 'aria-labelledby' => 'navbarDropdownMenuLink'}
              - if authenticated_user.admin?
                = link_to console_path, class: 'dropdown-item' do
                  %span.glyphicons.glyphicons-dashboard
                  Console
              = link_to '#', class: 'dropdown-item' do
                %span.glyphicons.glyphicons-user
                Profile
              = link_to signout_path, method: :delete, class: 'dropdown-item', id: 'nav-signout' do
                %span.glyphicons.glyphicons-log-out
                Sign Out
        - else
          %li.nav-item{class: "#{active_nav('sessions')}"}
            = link_to 'Sign In', signin_path, class: 'nav-link'
