%nav.bg-gray.navbar-dark
  .container
    .row
      .col
        %ul.nav.py-1.font-weight-bold.justify-content-center
          %li.nav-item.mr-1
            = link_to home_path, class: 'btn btn-primary px-1 my-1' do
              %i.fas.fa-home
              Home
          %li.nav-item.mr-1
            = link_to mailbox_inbox_path, class: 'btn btn-primary px-1 my-1' do
              %i.fas.fa-envelope
              Messages
          %li.nav-item.dropdown.mr-1
            %a.btn.btn-primary.dropdown-toggle.px-1.my-1#communitiesDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
              %i.fas.fa-users
              Communities
            .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'communitiesDropdownMenuLink'}
              = link_to my_community_path, class: 'dropdown-item' do
                %i.fas.fa-building
                My Community
              = link_to explore_communities_path, class: 'dropdown-item' do
                %i.fas.fa-compass
                Explore Communities

          %li.nav-item.dropdown.mr-1.my-1
            %a.btn.btn-primary.dropdown-toggle.px-1#communitiesDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
              %i.fas.fa-walking
              Activities
            .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'communitiesDropdownMenuLink'}
              = link_to matchmaker_path, class: 'dropdown-item' do
                %i.fas.fa-comments
                Matchmaker
              = link_to affiliates_search_path, class: 'dropdown-item' do
                %i.fas.fa-search
                Affiliate Search                
          %li.nav-item.dropdown.mr-1.my-1
            %a.dropdown-toggle.btn.btn-primary.px-1#communitiesDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
              %i.fas.fa-database
              Social Tracker
            .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'communitiesDropdownMenuLink'}
              = link_to social_tracker_log_path, class: 'dropdown-item' do
                %i.fas.fa-check
                Log Events
              = link_to social_tracker_history_path, class: 'dropdown-item' do
                %i.fas.fa-history
                History
            %li.nav-item.dropdown.mr-1.my-1
              %a.dropdown-toggle.btn.btn-primary.px-1#communitiesDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
                %i.fas.fa-heartbeat
                Social Fitness
              .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'communitiesDropdownMenuLink'}
                = link_to social_fitness_log_path, class: 'dropdown-item' do
                  %i.fas.fa-pencil-alt
                  Self-Assessment
                = link_to social_fitness_history_path, class: 'dropdown-item' do
                  %i.fas.fa-history
                  History
                = link_to social_fitness_plan_path, class: 'dropdown-item' do
                  %i.fas.fa-list-alt
                  Fitness Plan            
          %li.nav-item.dropdown.my-1
            %a.dropdown-toggle.btn.btn-primary.px-1#communitiesDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
              %i.fas.fa-toolbox
              Tools
            .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'communitiesDropdownMenuLink'}        
              = link_to media_center_path, class: 'dropdown-item' do
                %i.fas.fa-folder
                Media Center
