%nav.bg-gray.navbar-dark
  .container
    .row.justify-content-center
      .col
        %ul.nav.py-1
          %li.nav-item= link_to 'Dashboard', dashboard_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Messages', mailbox_inbox_path, class: 'nav-link'
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle#communitiesDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
              Communities
            .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'communitiesDropdownMenuLink'}
              = link_to my_community_path, class: 'dropdown-item' do
                %i.fas.fa-users
                My Community
              = link_to '#', class: 'dropdown-item' do
                %i.fas.fa-compass
                Explore Communities
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle#communitiesDropdownMenuLink{href: '#', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-toggle' => 'dropdown'}
              Social Tracker
            .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'communitiesDropdownMenuLink'}
              = link_to '#', class: 'dropdown-item' do
                %i.fas.fa-check
                Log Events
              = link_to '#', class: 'dropdown-item' do
                %i.fas.fa-history
                History
