- page_title 'Community Challenges'

.container{:style => "overflow-x:hidden;"}
  .row
    .col.py-3
      %h1.brand-primary.text-center Community Challenges
  .row
    .col-md-12
      %p.text-center.mb-3.p-2{style: "border: 1px solid black;"}
        %strong
          Here you will find the social challenges posted for your Community. Who knows what a little friendly competition might bring!

.container{:style => "overflow-x:hidden;"}
  %h3.notification-title.justify-content-center.mb-2
    %strong Challenge List
  .row.justify-content-center
    .table-responsive.col-10.text-center{ :style => 'border: 2px solid black; border-radius: 12px;' }
      %table.table.text-center.table-hover
        %thead
          %tr
            %th= sort_link 'name', 'Challenge Name'
            %th= sort_link 'challenge_start_date', 'Start Date'
            %th= sort_link 'challenge_end_date', 'End Date'
            %th= sort_link 'prize', 'Prize'
            %th= sort_link 'winner', 'Winner'

        %tbody
          - @challenges.each do |challenge|
            %tr.bg-white
              %td.font-weight-bold= link_to challenge.name, manage_challenge_path(challenge)
              %td= short_date(challenge.challenge_start_date)
              %td= short_date(challenge.challenge_end_date)
              %td= challenge.prize.presence || 'N/A'
              %td= challenge.winner.presence || 'N/A'
              %td.text-center
                = link_to challenge_new_path(name: challenge.name), title: 'Challenge Completed', class: 'btn btn-sm btn-outline-primary', style: 'border: 1px solid black' do
                  %i.fas.fa-flag-checkered
                  Challenge Completed
            %tr.table-divider
      %p= paginate @challenges
      - if @challenges.none?
        %p.pb-3.pt-1.text-muted.text-center
          %em No challenges have been created.

.container
  %p.py-3
    = link_to my_community_path, class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
      %i.fas.fa-arrow-left
      Back
