.container
  .row.my-3
    .col
      = form_with url: [:explore_communities], method: :get, local: true do |f|
        .form-group.form-inline
          = f.select(:state, US_STATES, {}, class: "form-control", include_blank: 'State' )
          = f.text_field :city, placeholder: 'City', class: 'form-control'
          = f.text_field :zip, placeholder: 'ZIP Code', class: 'form-control'
        .row.my-2
          .col-xs-12.col-md-7
            .row
              .col-xs-5.col-md-4
                = f.button "Search", class: "form-control"
      %h3.notification-title My events
      %div.table-wrapper-2#events-feed
        %table.table
          %thead.mdb-color.lighten-4
            %tr
              %th 
              %th Name
              %th 
              %th State
              %th 
              %th City
              %th 
              %th ZIP Code
          %tbody
          - @communities.each do |community|
            %tr
              %td
              %td= link_to community.name, community_path(community.slug)
              %td
              %td= community.state
              %td
              %td= community.city
              %td
              %td= community.zip
        %div.container.pagination.justify-content-center
          %p= paginate @communities
        %br