.container
  .row
    .col.py-3
      %h1.text-info Explore Communities
  .row.my-3
    .col
      = form_with url: [:explore_communities], method: :get, local: true do |f|
        .form-group.form-inline.justify-content-center#explore_communities_form
          %div.form-group.col-12.col-sm-12.col-md-2.col-lg-2
            = f.select(:state, US_STATES, {}, class: "form-control", id: 'explore_communities_state', include_blank: 'State', style: "width: 100%;")
          %div.form-group.col-12.col-sm-12.col-md-4.col-lg-4
            = f.text_field :city, placeholder: 'City', class: 'form-control', id: 'explore_communities_city', style: "width: 100%;"
          %div.form-group.col-12.col-sm-12.col-md-2.col-lg-2
            = f.text_field :zip, placeholder: 'ZIP Code', class: 'form-control', id: 'explore_communities_zip', style: "width: 100%;"
        %div.form-row
          %div.col-12
            .col-xs-3.col-md-3.col-sm-3.mx-auto
              = f.button "Search", class: "form-control btn btn-primary mb-2"
      %div.table-wrapper-2.table-hover#events-feed
        %table.table
          %thead.mdb-color.lighten-4
            %tr
              %th
              %th Name
              %th
              %th City
              %th
              %th State
              %th
              %th ZIP Code
          %tbody
          - @communities.each do |community|
            %tr.bg-white
              %td
              %td= link_to community.name, community_path(community.slug)
              %td
              %td= community.city
              %td
              %td= community.state
              %td
              %td= community.zip
        %div.container.pagination.justify-content-center
          %p= paginate @communities
        %br
