- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        events: "/communities/#{@member.slug}/events.json",
        header: {
          left: 'prev',
          center: 'title,today,list,month',
          right: 'next'
        }
      });
    });

%section.bg-white.text-dark.pt-3.pb-3
  .container.align-self-end
    .row
      .col-12
        .d-flex.justify-content-between.align-items-center
          %h1.mb-2.font-weight-bold.c-pointer{ data: { toggle: 'modal', target: '#community-profile-modal' } }= @member.name
          - if authenticated_user.manager? && authenticated_user.member_id == @member.id
            %div
              .dropdown.mb-3
                %a.btn.btn-primary.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  %i.fas.fa-cog
                  Manage
                .dropdown-menu.dropdown-menu-right
                  = link_to manage_edit_member_path, class: 'dropdown-item' do
                    %i.fas.fa-building
                    Community Profile
                  = link_to manage_events_path, class: 'dropdown-item' do
                    %i.fas.fa-map-marker-alt
                    Community Events
                  = link_to manage_social_tracker_users_path(@member), class: 'dropdown-item' do
                    %i.fas.fa-database
                    Social Tracker
                  = link_to manage_announcements_path, class: 'dropdown-item' do
                    %i.fas.fa.fa-bullhorn
                    Announcements
                  = link_to manage_users_path, class: 'dropdown-item' do
                    %i.fas.fa-user-circle
                    Users

      .col-12.col-md-9
        %p
          = @member.logo
        - if @member.primary_manager.present?
          %p.c-pointer{ data: { toggle: 'modal', target: '#community-profile-modal' } }
            %i.fas.fa-id-card
            Community Manager -
            = @member.primary_manager.name
        - if @member.url.present?
          %p
            = link_to @member.url, target: '_blank' do
              %i.fas.fa-external-link-alt
              Visit Website
        - if @member.events_url.present?
          %p
            = link_to @member.events_url, target: '_blank' do
              %i.fas.fa-map-marker-alt
              Visit Events Webpage
        %p
          %h5 Bio
          = @member.bio

%section.flush-with-above.space-0
  %div
    .container
      .row
        .col
          %ul.nav.nav-tabs#communityTabs(role="tablist")
            %li.nav-item
              %a.nav-link.active#events-tab(data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false") Events
            %li.nav-item
              %a.nav-link#announcements-tab(data-toggle="tab" href="#announcements" role="tab" aria-controls="announcements" aria-selected="true") Announcements
            %li.nav-item
              %a.nav-link#members-tab(data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false") User List
- page_title 'My Community'

%section.pt-2.pb-2
  .tab-content.pb-2
    .tab-pane.fade.show.active#events(role="tabpanel" aria-labelledby="events-tab")

      .container
        .row
          .col-12
            .card
              .card-body{ :style => "border: 1px solid black;" }
                #calendar
    .tab-pane.fade#announcements(role="tabpanel" aria-labelledby="announcements-tab")
      .container
        .row.my-3
          .col
            #scroll-box-announcements
              - @announcements.each do |announcement|
                .mb-3
                  %h5= announcement.title
                  .announcements-date= time_in_cdt(announcement.updated_at, '%m/%d/%Y')
                  .announcements-text= simple_format(announcement.body)
              %p= paginate @announcements
        
    .tab-pane.fade#members(role="tabpanel" aria-labelledby="members-tab")
      %div#profile_partial
      .container
        .row.my-3.justify-content-center
          .col-6
            #scroll-box-announcements{ style: "border: 1px solid black; border-radius: 12px; width: 100%;" }
              %h5.notification-title.mb-2
                %strong Display Name
              - @users.each do |user|
                .mb-3.text-center
                  %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                    data: { toggle: 'popover', trigger: 'focus', content: "#{render '/matchmakers/links_in_popover',  user: user }" } }
                    =user.display_name
            %p= paginate @users

                       
#community-profile-modal.modal.fade{ 'aria-hidden' => 'true', 'aria-labelledby' => 'CommunityProfileModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h3#CommunityProfileModalLabel.modal-title= @member.name
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
      .modal-body
        %p
          %strong Address:
          = @member.address
        %p
          %strong City:
          = @member.city
        %p
          %strong State:
          = @member.state
        %p
          %strong ZIP Code:
          = @member.zip
        %p
          %strong Website:
          = link_to @member.url, @member.url, target: '_blank'
        %p
          %strong Events Webpage:
          = link_to @member.events_url, @member.events_url, target: '_blank'
        %p
          %strong Primary Manager:
          = @member.primary_manager&.name
        %p
          %strong Primary Manager Phone:
          = number_to_phone @member.primary_manager&.phone
        %p
          %strong Primary Manager E-mail:
          = @member.primary_manager&.email
        %p
          %strong Bio:
          = @member.bio
      .modal-footer
