- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        themeSystem: 'standard',
        events: "/communities/#{@member.slug}/events.json",
        header: {
          left: 'prev',
          center: 'title,today,listMonth,month',
          right: 'next'
        }
      });
    });

%section.bg-white.text-dark.pt-3.pb-3
  .container.align-self-end
    .row
      .col-7.col-md-7.text-left
        .d-flex.justify-content-between.align-items-center
          %h1.mb-2.font-weight-bold.c-pointer{ data: { toggle: 'modal', target: '#community-profile-modal' } }= @member.name
      .col-5.col-md-5.text-right
        - if authenticated_user.manager? && authenticated_user.member_id == @member.id
          %div
            .dropdown.mb-3
              %a.btn.btn-primary.dropdown-toggle{style: 'border: 1px solid black;'}(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                %i.fas.fa-cog
                Manage
              .dropdown-menu.dropdown-menu-right{:style => 'border: 1px solid black;'}
                = link_to manage_edit_member_path, class: 'dropdown-item' do
                  %i.fas.fa-building
                  Community Profile
                = link_to manage_events_path, class: 'dropdown-item' do
                  %i.fas.fa-map-marker-alt
                  Community Events
                = link_to manage_social_tracker_users_path(@member), class: 'dropdown-item' do
                  %i.fas.fa-database
                  Social Tracker
                = link_to manage_announcements_path, class: 'dropdown-item' do
                  %i.fas.fa.fa-bullhorn
                  Announcements
                = link_to manage_challenges_path, class: 'dropdown-item' do
                  %i.fas.fa.fa-puzzle-piece
                  Challenges
                = link_to manage_connections_path, class: 'dropdown-item' do
                  %i.fas.fa.fa-plug
                  Connections
                = link_to manage_users_path, class: 'dropdown-item' do
                  %i.fas.fa-user-circle
                  Community Users
    .row
      .col-9.col-md-9.text-left
        - if @member.logo.present?
          = @member.logo
      .col-3.col-md-3.text-right
        - if @member.social_media_url_one.present?
          = link_to @member.social_media_url_one, target: '_blank' do
            %i.fa.fa-facebook-square.fa-3x{:title => 'Facebook'}
        %div
        - if @member.social_media_url_two.present?
          = link_to @member.social_media_url_two, target: '_blank' do
            %i.fa.fa-instagram.fa-3x{:title => 'Instagram'}
        %div
        - if @member.social_media_url_three.present?
          = link_to @member.social_media_url_three, target: '_blank' do
            %i.fa.fa-twitter-square.fa-3x{:title => 'Twitter'}
    .row
      .col-12.col-md-12
        %p
        - if @member.url.present? && @member.public_member==false
          = link_to @member.url, target: '_blank' do
            %i.fas.fa-external-link-alt
            Visit Website

          = link_to share_link_path(:url => @member.url), title: 'Share Link', class: 'btn btn-sm btn-outline-primary', style: 'border: 1px solid black' do
            %i.fas.fa-share
            Share Link
        %p
        - if @member.events_url.present?
          = link_to @member.events_url, target: '_blank' do
            %i.fas.fa-external-link-alt
            Visit Events Webpage

          = link_to share_link_path(:url => @member.events_url), title: 'Share Link', class: 'btn btn-sm btn-outline-primary', style: 'border: 1px solid black' do
            %i.fas.fa-share
            Share Link
        - if @member.bio.present?
          %p
            %h5 Bio
            = @member.bio
      .col-12.pt-3
        %p.text-center
          =link_to 'Contact Manager', new_conversation_path(recipient_id: @member.primary_manager&.id), target: '_blank', class: 'btn btn-primary', style: 'border: 1px solid black'

%section.flush-with-above.space-0
  %div
    .container
      .row.font-weight-bold
        .col
          %ul.nav.nav-tabs#communityTabs(role="tablist")
            - if @member.public_member==false
              %li.nav-item
                %a.nav-link.px-1#announcements-tab(data-toggle="tab" href="#announcements" role="tab" aria-controls="announcements" aria-selected="true") Announcements
            - if @member.public_member==false
              %li.nav-item
                %a.nav-link.px-1#events-tab(data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false") Events
            %li.nav-item
              %a.nav-link.px-1.active#users-tab(data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false") Users
            - if authenticated_user.member_id == @member.id
              %div
                .dropdown
                  %a.nav-link.px-1.pt-2#more-tab(data-toggle="dropdown" href="#" role="tab" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") More
                  .dropdown-menu.dropdown-menu-right.text-center{:style => 'border: 1px solid black; border-radius: 12px;'}
                    = link_to 'User Finder', user_finder_path, class: 'dropdown-item px-2'
                    = link_to 'Leaderboard', leaderboard_path, class: 'dropdown-item px-2'
                    - if @member.hide_challenges==false && @member.public_member==false
                      = link_to 'Challenges', challenge_index_path, class: 'dropdown-item px-2'
                    - if @member.hide_connections==false && @member.public_member==false
                      = link_to 'Connections', connection_index_path, class: 'dropdown-item px-2'

- page_title 'Communities'

%section.pt-2.pb-0
  .tab-content.pt-1.pb-0{ :style => "overflow:hidden;" }
    .tab-pane.fade#announcements(role="tabpanel" aria-labelledby="announcements-tab")
      .container
        .row.mt-0.mb-1
          .col
            %h3.notification-title.pb-1
              %strong
                Community Announcements
        - if @member.hide_suggest_announcements?
          .row
            .col.text-center.mt-1.mb-2.pb-1
              =link_to 'Suggest Announcements', announcement_suggestions_path, class: 'btn btn-primary', style: 'border: 1px solid black'
        .container
          .row.mt-4
            .col.pt-3.pb-1
              #scroll-box-announcements{ :style => "border: 2px solid black; border-radius: 12px;" }
                - @announcements.each do |announcement|
                  .mb-3.text-center
                    %h5= announcement.title
                    .announcements-date.mb-2.border-bottom= time_in_cdt(announcement.updated_at, '%m/%d/%Y')
                    .announcements-text.text-left.pb-2= simple_format(announcement.body)
                %p= paginate @announcements
                - if @announcements.none?
                  %p.text-muted.mt-5.text-center
                    %em No announcements have been created.

    - if @member.public_member==false
      .tab-pane.fade#events(role="tabpanel" aria-labelledby="events-tab")
        .row.mt-0.mb-1
          .col
            %h3.notification-title.pb-1
              %strong
                Community Events Calendar
        - if @member.hide_suggest_events?
          .row
            .col.text-center.mt-1.mb-3
              =link_to 'Suggest Events', event_suggestions_path, class: 'btn btn-primary', style: 'border: 1px solid black'
        .container
          .row.justify-content-center
            .col-10.pb-0.px-1
              .card
                .card-body.text-center.px-1{ :style => "border: 2px solid black; border-radius: 12px;" }
                  %strong Legend
                  %p
                  %strong{:style => "color: #17a2b8;"}Public Events = Accessible to All Users
                  %p
                  %strong{:style => "color: #c9302c;"} Private Events = Only Accessible to This Community's Users
                  %p
                  #calendar
        .container.text-center
          .col.mt-3
            %div.form-row.pb-4
              %div.col-12
                %h3.notification-title.justify-content-center.mb-2
                  %strong Showcased Events
              %div.table-wrapper-2.mb-3.table-hover#events-feed{:style => "border-radius: 12px;"}
                %table.table.text-center
                  %thead.mdb-color.lighten-4
                    %tr
                      %th
                      %th Event Title
                      %th
                      %th Event Type
                      %th Event Date/Time
                  %tbody
                  - @events.each do |event|
                    %tr.bg-white
                      %td
                      %td= link_to event.title, community_event_path(authenticated_user.member, event)
                      %td
                      %td= event.event_type
                      %td= short_date_time(event.start_at, event.time_zone)
                      %td.text-center
                        = link_to event_reminder_path(title: event.title, type: event.event_type, :location => event.location, :address => event.location_display, :start_at => (short_date_time(event.start_at, event.time_zone))), title: 'Event Reminder', class: 'btn btn-sm btn-outline-primary', style: 'border: 1px solid black' do
                          %i.fa.fa-exclamation-circle
                          Event Reminder
                    %tr.table-divider
                %div.container.pagination.justify-content-center
                  %p= paginate @events
                  - if @events.none?
                    %p.text-muted.mb-3.text-center
                      %em No showcased events to display.
    .tab-pane.fade.show.active#users(role="tabpanel" aria-labelledby="users-tab")
      %div#profile_partial
      .container
        .row.mt-0.mb-2
          .col
            %h3.notification-title.pb-0.mb-0
              %strong
                Community User Directory
        .row.justify-content-center.mt-0.mb-2
          .col-md-3.mb-2.pb-1.text-center
            %h5 Filter - By Primary Interest
            .col-md-12.justify-content-center
              = form_with url: "/communities/#{@member.slug}/", method: :get, local: true do |f|
                .form-group.form-inline.justify-content-center#explore_communities_form
                  = f.select(:interest_types, INTEREST_TYPES, {include_blank: true}, class: "form-control find_by_interest_types", style: "width: 100%;")
                %p
                = f.button "Filter", class: "form-control btn btn-primary mb-2", style: "border: 1px solid black"
                = link_to "Undo Filter", {:onclick => "history.go(0)" }, class: 'form-control btn btn-primary mb-3', style: 'border: 1px solid black'
        .row.justify-content-center
          .col-7.pt-3.pb-1
            #scroll-box-announcements{ style: "border: 2px solid black; border-radius: 12px; width: 100%;" }
              %h5.notification-title.border-bottom.mb-2
                %th= sort_link 'display_name', 'Display Name'
              - @users.each do |user|
                .mb-3.bg-white.text-center
                  %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                    data: { toggle: 'popover', trigger: 'focus', content: "#{render '/matchmakers/links_in_popover',  user: user }" } }
                    =user.display_name
              %p= paginate @users, param_name: :user_page
              - if @users.none?
                %p.text-muted.mt-5.text-center
                  %em No Users were found.
#community-profile-modal.modal.fade{ 'aria-hidden' => 'true', 'aria-labelledby' => 'CommunityProfileModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h3#CommunityProfileModalLabel.modal-title= @member.name
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
      .modal-body
        %p
          %strong Address:
          = @member.address
        %p
          %strong City:
          = @member.city
        %p
          %strong State:
          = @member.state
        %p
          %strong ZIP Code:
          = @member.zip
        %p
          %strong Phone:
          = number_to_phone @member.phone
        %p
        - if @member.url.present? && @member.public_member==false
          %strong Website:
          = link_to @member.url, @member.url, target: '_blank'
        %p
        - if @member.events_url.present?
          %strong Events Webpage:
          = link_to @member.events_url, @member.events_url, target: '_blank'
        %p
        %p
          %strong Organization Type:
          = @member.org_type
        %p
          %strong Primary Manager Name:
          = @member.primary_manager&.name
        %p
          %strong Primary Manager Display Name:
          = @member.primary_manager&.display_name
        %p
          %strong Primary Manager Phone:
          = number_to_phone @member.primary_manager&.phone
        %p
          %strong Primary Manager Email:
          = @member.primary_manager&.email
