- page_title 'Community User Finder'

%div#profile_partial

.container
  .row
    .col.py-3
      %h1.text-info.text-center Community User Finder

  .row
    .col-md-12
      %p.text-center.mb-3.p-2{style: "border: 1px solid black;"}
        %strong
          This finder helps Users to locate and contact others who are hosted by the same Member when only actual names are known.

  .row.justify-content-center
    .col-md-3.mb-0.pb-0.text-center
      %h5.pt-0.mb-0 Filter - By Name
      <p class ="font-weight-bold mb-2 under_label_text">(note: full name required and case sensitive)</p>
      .col-md-12.justify-content-center
        = form_with url: [:user_finder], method: :get, local: true do |f|
          .form-group.form-inline.justify-content-center#explore_communities_form
          = f.text_field :name, placeholder: 'Name', class: 'form-control find_by_city', style: "width: 100%;"
          %p
          = f.button "Filter", class: "form-control btn btn-primary mb-3", style: "border: 1px solid black"
        %h3.notification-title.justify-content-center.mb-2
          %strong Listed Users

  .row.mb-3.justify-content-center
    .col-md-4
      .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
        %table.table.align-items-center.text-center.table-hover.table-sm.mb-4
          %thead
            %tr
              %th= sort_link 'display_name', 'Name'
              %th= sort_link 'display_name', 'Display Name'
          %tbody
            - @users.each do |user|
              %tr.bg-white
                %td= user.name
                %td
                  %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                      data: { toggle: 'popover', trigger: 'focus', content: "#{render 'matchmakers/links_in_popover',  user: user }" } }
                    =user.display_name
          %tr.table-divider
        %div.container.pagination.justify-content-center
          %p= paginate @users unless @users.empty?
          - if @users.none?
            %p.pb-5.text-muted.text-center
              %em No Users were found.

  %p.pb-3
    = link_to my_community_path, class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
      %i.fas.fa-arrow-left
      Back
