.container{ :style => "overflow:hidden;" }
  .d-flex.justify-content-center.flex-wrap.flex-md-nowrap.align-items-center.py-3.px-2
    %h1.brand-primary= @bulletin.title

.container{ :style => "overflow:hidden;" }
  .row.justify-content-center
    .col-lg-8
      .settings-box.text-center{:style => "border-radius: 12px;"}
        %p
          %strong Posted By:
          = @bulletin.user.display_name
        %p
        - if @bulletin.event_type.present?
          %strong Event Type:
          = @bulletin.event_type
        %p
        - if @bulletin.start_at.present?
          %strong Event Date/Time:
          = short_date_time_notimezone @bulletin.start_at
        %p
        - if @bulletin.location.present?
          %strong Event Location:
          = @bulletin.location
        %p
        - if @bulletin.address.present?
          %strong Event Address:
          = @bulletin.location_display
        %p
        %p
          %strong Event Details:
          = @bulletin.description

.container
  .col
    %div.form-row
      %div.float-left.py-3
        = link_to 'javascript:history.back()', class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
          %i.fas.fa-arrow-left
          Back
