= form_with(model: @news, url: [:console, @news], local: true) do |f|
  .row
  * All fields are required
  .row.mt-2
  %h5 News Information
  .row.mt-2
    .col
      .form-group
        %label News Title
        = f.text_field :title, class: "form-control #{form_error_class(@news, :title)}", required: true
        = model_error_display(@news, :title)
  .row
    .col
      .form-group
        %label News Body
        = f.text_area :body, rows: 12, class: "form-control #{form_error_class(@news, :body)}", required: true
        = model_error_display(@news, :body)

  .mb-3.text-center
    = f.submit 'Save', class: 'btn btn-primary', :style => 'border: 1px solid black;', data: { disable_with: 'Saving...' }
    - if @news.persisted?
      = link_to 'Cancel', console_news_index_path, class: 'btn btn-outline-secondary', :style => 'border: 1px solid black;'
    - else
      = link_to 'Cancel', console_news_index_path, class: 'btn btn-outline-secondary', :style => 'border: 1px solid black;'
