%nav(aria-label="breadcrumb")
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'News', console_news_index_path
    %li.breadcrumb-item.active(aria-current="page")= @news.title

.d-flex.justify-content-left.flex-wrap.flex-md-nowrap.align-items-top.mt-3
  %h1.h3.brand-primary= @news.title
.row.text-left
  .col
    .announcements-date.mb-2.border-bottom= time_in_cdt(@news.updated_at, '%m/%d/%Y')

%p
  = simple_format(@news.body)

.mb-3
  = link_to console_news_index_path, class: 'btn btn-outline-primary', :style => 'border: 1px solid black;' do
    %i.fas.fa-arrow-left
    Back
