%nav(aria-label="breadcrumb")
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'News', console_news_index_path
    %li.breadcrumb-item.active(aria-current="page")= @news.title

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %h1.h3.brand-primary= @news.title

%p
  = simple_format(@news.body)

.mb-3
  = link_to console_news_index_path, class: 'btn btn-outline-primary'do
    %i.fas.fa-arrow-left
    Back
  &nbsp;
  = link_to edit_console_news_path(@news), class: 'btn btn-outline-primary' do
    %i.far.fa-edit
    Edit
  &nbsp;
  = link_to console_news_path(@news), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Please confirm that you wish to delete this news. Press OK to continue.' } do
    %i.far.fa-trash-alt
    Delete
