<!-- The Modal -->
<div class='modal' id='profileModal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <!-- Modal Header -->
      <div class='modal-header'>
        <h3 class= "modal-title"><%= user.display_name %></h3>
        <button class='close' data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class='modal-body'>
        <p><strong>Name:</strong> <%= user&.name if user.hidden_field.name %></p>
        <p><strong>Email:</strong> <%= user&.email if user.hidden_field.email %></p>
        <p><strong>Phone:</strong> <%= user&.phone if user.hidden_field.phone %></p>
        <p><strong>Address:</strong> <%= user&.address if user.hidden_field.address %></p>
        <p><strong>City:</strong> <%= user&.city if user.hidden_field.city %></p>
        <p><strong>State:</strong> <%= user&.state if user.hidden_field.state %></p>
        <p><strong>ZIP Code:</strong> <%= user&.zip if user.hidden_field.zip %></p>
        <p><strong>Time Zone:</strong> <%= user&.time_zone if user.hidden_field.time_zone %></p>
        <p><strong>Birthdate:</strong> <%= user&.birthdate if user.hidden_field.birthdate %></p>
        <p><strong>Gender:</strong> <%= user&.gender if user.hidden_field.gender %></p>
        <p><strong>Race/Ethnicity:</strong> <%= user&.ethnicity if user.hidden_field.ethnicity%></p>
      </div>
    </div>
  </div>
</div>
