- page_title 'Console'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.pb-3.border-bottom
  %h3.brand-primary Console
  %div

.container
  .row
    .col-md-4.col-lg-4
      %h5.pt-1.mb-0.brand-primary
        %a{ href: console_affiliates_path, title: 'Affiliates' }>
          Affiliates
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h6 Total Affiliates
          %span.font-weight-bold.display-5
            #{ Affiliate.all.count }
  .row.border-top
    .col-md-4.col-lg-4
      %h5.pt-1.mb-0.brand-primary
        %a{ href: console_members_path, title: 'Members' }>
          Members
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h6 Total Members
          %span.font-weight-bold.display-5
            #{ Member.all.count }
    .col-md-4.col-lg-4.mt-4
      .card.pricing.card-md
        .card-body.px-2{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h6 Non-Public Members
          %span.font-weight-bold.display-5
            #{ Member.where.not(public_member: true).count }
    .col-md-4.col-lg-4.mt-4
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h6 Public Members
          %span.font-weight-bold.display-5
            #{ Member.where(public_member: true).count }
  .row.border-top
    .col-md-4.col-lg-4
      %h5.pt-1.mb-0.brand-primary
        %a{ href: lookups_path, title: 'Users' }>
          Users
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h6 Total Users
          %span.font-weight-bold.display-5
            #{ User.all.count }
    .col-md-4.col-lg-4.mt-4
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h6 Non-Guest Users
          %span.font-weight-bold.display-5
            #{ User.where.not(guest: true).count }
    .col-md-4.col-lg-4.mt-4
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h6 Guest Users
          %span.font-weight-bold.display-5
            #{ User.where(guest: true).count }

.container
  .row
    Version 0.9.308
