- page_title 'Membership'

.container-fluid
  .row
    .col-lg-8.col-xs-12.py-5

      %p.h4 Affiliate Locator
      - if @affiliates.any?
        %table.footable.table.table-bordered.table-hover{'data-empty': "No Results",'data-sorting': "true",'data-filtering':"true"}
          %thead
            %tr
              %th Index
              %th Name
              %th Address
              %th City
              %th State
              %th Zip Code
              %th Phone
              %th URL / Link
              %th Support Type
          %tbody
            - @affiliates.each_with_index do |affiliate, i|
              %tr
                %td #{i+1}
                %td= affiliate.name
                %td= affiliate.address
                %td= affiliate.city
                %td= affiliate.state
                %td= affiliate.zip
                %td= affiliate.phone
                %td= affiliate.url
                %td= Affiliate::SUPPORT_TYPES[affiliate.support_type]
    -# - else
    -#   %p.text-muted
    -#     %em 
    .col-lg-4.py_3
      %iframe{width: "100%", height: "500px", frameborder: "0", style: "border:0",src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyBGfsf8dSa4hJAJQ3K6PNZI3LCIfRNZWUI&q=Space+Needle,Seattle+WA", allowfullscreen: true }
</iframe>