.main-container{:style => "overflow-x:hidden;"}
  #hero
    .container
      %h1.mb-4.text-light.text-center
        Make your social life more rewarding with Social Health.
      %h3.text-light.text-center
        Social Health is dedicated to improving the wellness of people and their communities by promoting
        healthier social lives with rewards and incentives.
      %p.pt-3.text-center.mt-3
        = link_to 'Contact Us For More Info', contact_path, class: 'btn btn-lg btn-info', style: 'border: 1px solid black;'

  %section.space-xs.text-center.bg-white.py-4{:style => 'border-top: 1px solid black;'}
    .container
      .row.pb-4
        .col.text-center
          = link_to image_tag('social.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Meet' }>
              %strong Meet.
          %span Attend or host social events.
        .col.text-center
          = link_to image_tag('handshake.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Greet' }>
              %strong Greet.
          %span Develop relationships with others at events.
        .col.text-center
          = link_to image_tag('total-cart.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Benefit' }>
              %Strong Benefit.
          %span Log your involvement in events for rewards.
      .row.pb-4
        .col.text-center
          %h5.text-info
            One Sweepstakes Winner Is Selected Every Week to Reward Users for Their Participation in Social Events
          %span Users who log their involvement in social events automatically become eligible to win $25 Amazon eGift Cards.
      .row.pt-4.border-top
        .col.text-center
          %h5.text-info
            %span Our Inclusive Approach to Social Wellness Is What Makes Us Different
      .row.py-4.justify-content-center
        .col-3.col-md-3.px-0.text-center
          %h5.text-info.font-weight-bold
            =link_to root_path(:anchor => "Members") do
              Members
        %i.ml-2.md-1.brand-primary.fas.fa-arrows-alt-h.fa-2x
        .col-3.col-md-3.px-0.text-center
          %h5.text-info.font-weight-bold
            =link_to root_path(:anchor => "Users") do
              Users
        %i.mr-2.md-1.brand-primary.fas.fa-arrows-alt-h.fa-2x
        .col-3.col-md-3.px-0.text-center
          %h5.text-info.font-weight-bold
            =link_to root_path(:anchor => "Affiliates") do
              Affiliates
      .row.justify-content-center
        .col.mb-4.text-left.text-center
          %p
            With our service, Social Health Online, we aim to bring people together like nobody else.
      .row.pb-4.justify-content-center
        = link_to 'More About Us', about_us_path, class: 'btn btn-lg btn-info mt-1', style: 'border: 1px solid black;'
      #Members
        .row.pt-4.border-top
          .col.text-center
            %h5.mb-2.text-info
              The Members
      .row
        .col.mb-3.text-left
          %p.pb-2
            Our Member organizations are a cornerstone for our service because they are the gatekeepers that
            enroll Users and manage Communities. Being a Member is ideal for employers, healthcare organizations, educators,
            community organizations and countless other types of organizations.
            .row.justify-content-center
              .col-md-6.col-lg-4
                .card.pricing.card-lg
                  .card-body.border
                    %h5
                    %span.display-3.price-collapse.collapse.show $1
                    %span.text-small Per User / Month
                    %span.h6.font-weight-bold Annual Subscription
                    %span.text-small Minimum of 5 Users Per Member Account
                    %p.py-1
                    = link_to 'Become A Member', new_members_registration_path, class: 'btn btn-lg btn-info', style: 'border: 1px solid black;'
      #Users
        .row.pt-4.border-top
          .col.text-center
            %h5.mb-2.text-info
              %span Use Our Service to Create the Social Life You Want
        .row
          .col.text-left
            Easily manage your social wellness in one place with our comprehensive platform by joining as a User through a Member organization or registering for free as a Guest User through our website.
            Our service's features support the strengthening of relationships by encouraging participation in virtually all social activities:
        .row.mb-3.px-2
          .col-md-3
          .col-md-6.pl-3.pr-1.text-left
            %p
            %li Users have home Communities that they share with others from their local area so they can easily meet people and find events.
            %p
            %li All Users get access to event suggestions and special discounts from our Affiliates.
            %p
            %li A Bulletin Board and Matchmaker are provided so that Users can organize and advertise their own social events with groups and individuals.
        .row.pb-4.justify-content-center
          = link_to 'See More Features', service_highlights_path, class: 'btn btn-lg btn-info mt-1 px-4', style: 'border: 1px solid black;'
          .col-md-3.pt-2
            %strong OR
          %p
          = link_to "Become A Guest User", users_registration_path, class: 'btn btn-lg btn-info mt-1', style: 'border: 1px solid black;'
      #Affiliates
        .row.pt-4.border-top
          .col.text-center
            %h5.text-info
              %span Proud to Collaborate with All Organizations Wanting to Make Your Social Life More Rewarding
            %p
              The Affiliates support our Users by providing them with event information and discounts. Our diverse array of Affiliates includes:
        .row.pt-4
          .col-md-2
            = image_tag'avondale.jpg', class: 'img-fluid'
          .col-md-2
            = image_tag'rmp.jpg', class: 'img-fluid'
          .col-md-2
            = image_tag'regions.jpg', class: 'img-fluid mb-4'
          .col-md-2
            = image_tag'sloss.jpg', class: 'img-fluid'
          .col-md-2
            = image_tag 'alys.jpg', class: 'img-fluid'
          .col-md-2.pb-4
            = image_tag 'smf.jpg', class: 'img-fluid'
        .row.justify-content-center
          = link_to 'Become An Affiliate', affiliates_registration_path, class: 'btn btn-lg btn-info mt-2', style: 'border: 1px solid black;'
