.main-container
  #hero
    .container
      %h1.mb-4.text-light.text-center
        Make your social life more rewarding with Social Health.
      %h3.text-light.text-center
        Social Health is dedicated to improving the wellness of people and their communities by promoting
        healthier social lives with rewards and incentives.
      %p.pt-3.text-center.mt-3
        = link_to 'Request Free Demo Account', contact_path, class: 'btn btn-lg btn-info', style: 'border: 1px solid black;'

  %section.space-xs.text-center.bg-white.py-4{:style => 'border-top: 1px solid black;'}
    .container
      .row.pb-4
        .col.text-center
          = link_to image_tag('social.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Meet' }>
              %strong Meet.
          %span Attend or host social events.
        .col.text-center
          = link_to image_tag('handshake.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Greet' }>
              %strong Greet.
          %span Develop relationships with others at events.
        .col.text-center
          = link_to image_tag('total-cart.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Benefit' }>
              %Strong Benefit.
          %span Log your involvement in events for rewards.
      .row.pt-4.border-top
        .col.text-center
          %h5.text-info
            %span Proud to Collaborate with All Organizations Wanting to Make Your Social Life More Rewarding
          %p
            Our diverse array of Affiliates includes
      .row.pt-4
        .col-md-2
          = image_tag'avondale.jpg', class: 'img-fluid'
        .col-md-2
          = image_tag'rmp.jpg', class: 'img-fluid'
        .col-md-2
          = image_tag'regions.jpg', class: 'img-fluid'
        .col-md-2
          = image_tag'sloss.jpg', class: 'img-fluid'
        .col-md-2
          = image_tag 'alys.jpg', class: 'img-fluid'
        .col-md-2
          = image_tag 'smf.jpg', class: 'img-fluid'
