.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %div
    %h1.h3.brand-primary Social Tracker   
    %nav(aria-label="breadcrumb")
      %ol.breadcrumb
        %li.breadcrumb-item= link_to 'Members', console_social_tracker_members_path
        %li.breadcrumb-item.active= @member.name
        %li.breadcrumb-item= link_to 'Users', [:console,:social_tracker,@member]
        %li.breadcrumb-item.active(aria-current="page")= link_to @user.name, [:console,:social_tracker,@member,@user]

.container
  .row
    .col.py-4
      .row
        .col-lg-6
          %p 
            %strong Event Date
          %p= short_date(@log.event_date)
          %p 
            %strong Event State
          %p= US_STATES.key(@log.state)
          %p 
            %strong Event City
          %p= @log.city
          %p 
            %strong Event Types
          %p
            - @log.event_types.each_with_index do |type, i|
              %p= type.name
        .col-lg-6
          %p 
            %strong Event Source
          %p= SocialEventLog::EVENT_SOURCES.key(@log.source)
          %p 
            %strong Event Category
          %p
            - @log.event_categories.each do |category|
              %p= category.name
          %p
            %strong Event Venue
          %p= @log.venue
          %p
            %strong Event Rating
          %p= RATINGS.key(@log.rating)
%p
  = link_to [:console,:social_tracker,@member,@user], class: 'btn btn-outline-primary' do
    %i.fas.fa-arrow-left
    Back
