.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %div
    %h1.h3.brand-primary Social Tracker
    %nav(aria-label="breadcrumb")
      %ol.breadcrumb
        %li.breadcrumb-item= link_to 'Members', console_social_tracker_members_path
        %li.breadcrumb-item.active= @member.name
        %li.breadcrumb-item= link_to 'Users', [:console,:social_tracker,@member]
        %li.breadcrumb-item.active(aria-current="page")= link_to @user.name, [:console,:social_tracker,@member,@user]

.container
  .row
    .col.py-4
      .row
        .col-lg-6.mb-2.text-center
          %p
            %strong Event Date:
          %p= short_date(@log.event_date)
          %p
            %strong Event State:
          %p= US_STATES.key(@log.state)
          %p
            %strong Event City:
          %p= @log.city
          %p
            %strong Event Type(s):
          %p= @log.event_type
        .col-lg-6.text-center
          %p
            %strong Event Source:
          %p= SocialEventLog::EVENT_SOURCES.key(@log.source)
          %p
          - if @log.event_category.present?
            %strong Event Category:
          %p
          %p= @log.event_category
          %p
            %strong Event Location:
          %p= @log.venue
          %p
            %strong Event Rating:
          %p= RATINGS.key(@log.rating)
%p
  = link_to [:console,:social_tracker,@member,@user], class: 'btn btn-outline-primary', :style => 'border: 1px solid black;' do
    %i.fas.fa-arrow-left
    Back
