.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %div
    %h1.h3.brand-primary Social Tracker   
    %nav(aria-label="breadcrumb")
      %ol.breadcrumb
        %li.breadcrumb-item= link_to 'Members', console_social_tracker_members_path
        %li.breadcrumb-item.active= @member.name
        %li.breadcrumb-item= link_to 'Users', [:console,:social_tracker,@member]
        %li.breadcrumb-item.active(aria-current="page")= @user.name

- if @social_event_logs.any?
  .table-responsive

    %table.table.table-borderless.align-items-center
      %thead
        %tr
          %th Log Date
          %th Event Date
          %th Event Venue
          %th Event Rating
      %tbody
        - @social_event_logs.each do |log|
          %tr.bg-white
            %td= link_to short_date(log.created_at), [:console,:social_tracker,@member, @user, log], class: 'text-info'
            %td= link_to short_date(log.event_date), [:console,:social_tracker,@member, @user, log], class: 'text-info'
            %td= truncate(log.venue, :length => 30)
            %td
              %strong= RATINGS.key(log.rating)
    = paginate @social_event_logs
- else
  %p.text-muted
    %em No Social Event Logs for this user.

%p.pt-3
  = link_to [:console,:social_tracker,@member] do
    %span
      %i(class="fas fa-arrow-circle-left")
      Back
        