- page_title 'Manage Bulletins'

%div#profile_partial
.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.pb-3.border-bottom
  %h1.h3.brand-primary Manage Bulletins
  %div
    = link_to new_console_manage_bulletin_path, class: 'btn btn-primary', style: 'border: 1px solid black' do
      %i.fas.fa-plus-circle
      Post Bulletin

.container{:style => "overflow-x:hidden;"}
  .row.mt-2
    .col-12.col-md-4.col-lg-6
      %h5.pt-1.mb-0 Filter - By State
      .col-12.col.md-4.col-lg-6.justify-content-center
        = form_with url: [:console_manage_bulletins], method: :get, local: true do |f|
          .form-group.form-inline.justify-content-center#explore_communities_form
          = f.select(:state, US_STATES, {}, class: "form-control find_by_state", include_blank: 'State', style: "width: 100%;")
          %p
          = f.button "Filter", class: "form-control btn btn-primary mb-2", style: "border: 1px solid black"
          = link_to "Undo Filter", {:onclick => "history.go(0)" }, class: 'form-control btn btn-primary mb-3', style: 'border: 1px solid black'

  - if @bulletins.any?
    .row.justify-content-center
      .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
        %table.table.table-borderless.align-items-center.table-hover
          %thead
            %tr
              %th= sort_link 'title', 'Bulletin Title'
              %th= sort_link 'city', 'Event City'
              %th= sort_link 'state', 'Event State'
              %th= sort_link 'event_datetime', 'Event Date/Time'
              %th= sort_link 'bulletin.user.display_name', 'Posted By'
              %th= sort_link 'created_at', 'Added On'
          %tbody
            - @bulletins.each.with_index(1) do |bulletin, i|
              %tr.bg-white
                %td= link_to truncate("#{i}. #{bulletin.title}"), console_manage_bulletin_path(bulletin)
                %td= bulletin.city.presence || 'N/A'
                %td= bulletin.state
                %td= short_date_time_notimezone(bulletin.start_at)
                %td
                  %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                      data: { toggle: 'popover', trigger: 'focus', content: "#{render '/matchmakers/links_in_popover',  user: bulletin.user }" } }
                    =bulletin.user.display_name
                %td= time_in_cdt(bulletin.created_at, '%m/%d/%Y')
                %td.w-10.text-right
                  .dropdown
                    = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{bulletin.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                      %i.fas.fa-ellipsis-h
                    .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{bulletin.id}")
                      = link_to edit_console_manage_bulletin_path(bulletin), title: 'Edit', class: 'dropdown-item text-info' do
                        %i.far.fa-edit
                        Edit
                      = link_to console_manage_bulletin_path(bulletin), title: 'Delete', id: "delete_bulletin_#{bulletin.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this bulletin. Press OK to continue.' } do
                        %i.far.fa-trash-alt
                        Delete
              %tr.table-divider
        %p= paginate @bulletins
  - else
    %p.text-muted.text-center
      %em No bulletins were found.
