- page_title 'Manage Bulletins'

%div#profile_partial
.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.pb-3.border-bottom
  %h1.h3.brand-primary Manage Bulletins
  %div
    = link_to new_console_manage_bulletin_path, class: 'btn btn-primary', style: 'border: 1px solid black' do
      %i.fas.fa-plus-circle
      Post Bulletin

- if @bulletins.any?
  .row.justify-content-center
    .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
      %table.table.table-borderless.align-items-center.table-hover
        %thead
          %tr
            %th= sort_link 'title', 'Bulletin Title'
            %th= sort_link 'city', 'City'
            %th= sort_link 'state', 'State'
            %th= sort_link 'event_datetime', 'Event Date/Time'
            %th= sort_link 'created_at', 'Added On'
            %th= sort_link 'created_at', 'Posted By'
        %tbody
          - @bulletins.each.with_index(1) do |bulletin, i|
            %tr.bg-white
              %td= link_to truncate("#{i}. #{bulletin.title}"), console_manage_bulletin_path(bulletin)
              %td= bulletin.city
              %td= bulletin.state
              %td= short_date_time_notimezone(bulletin.start_at)
              %td= time_in_cdt(bulletin.created_at, '%m/%d/%Y')
              %td
                %a{ class: 'matchmaker_popover c-pointer', tabindex: '0', role: 'button',
                    data: { toggle: 'popover', trigger: 'focus', content: "#{render '/matchmakers/links_in_popover',  user: bulletin.user }" } }
                  =bulletin.user.display_name
              %td.w-10.text-right
                .dropdown
                  = link_to '#', class: 'btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow', id: "dropdownMenuLink-#{bulletin.id}", data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                    %i.fas.fa-ellipsis-h
                  .dropdown-menu.dropdown-menu-sm(aria-labelledby="dropdownMenuLink-#{bulletin.id}")
                    = link_to edit_console_manage_bulletin_path(bulletin), title: 'Edit', class: 'dropdown-item text-info' do
                      %i.far.fa-edit
                      Edit
                    = link_to console_manage_bulletin_path(bulletin), title: 'Delete', id: "delete_bulletin_#{bulletin.id}", class: 'dropdown-item text-danger', method: :delete, data: { confirm: 'Please confirm that you wish to delete this bulletin. Press OK to continue.' } do
                      %i.far.fa-trash-alt
                      Delete
            %tr.table-divider
      %p= paginate @bulletins
- else
  %p.text-muted.text-center
    %em No bulletins were found.
