%nav(aria-label="breadcrumb")
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Manage Bulletins', console_manage_bulletins_path

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.pb-3.border-bottom
  %h1.h3.brand-primary= @bulletin.title

.row.justify-content-center
  .col-9
    .settings-box{:style => "border-radius: 12px;"}
      %p
        %strong  Posted By:
        = @bulletin.user.display_name
      %p
      - if @bulletin.event_type.present?
        %strong  Event Type:
        = @bulletin.event_type
      %p
      - if @bulletin.start_at.present?
        %strong  Event Date/Time:
        = short_date_time_notimezone @bulletin.start_at
      %p
      - if @bulletin.location.present?
        %strong  Location/Address:
        = @bulletin.location
      %p
      - if @bulletin.city.present?
        %strong  City:
        = @bulletin.city
      %p
      - if @bulletin.state.present?
        %strong  State:
        = @bulletin.state
      %p
      %p
        %strong  Description:
        = @bulletin.description

.container
  .col
    %div.form-row
      %div.float-left.py-3
        = link_to console_manage_bulletins_path, class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
          %i.fas.fa-arrow-left
          Back
