!!!
%html{lang: 'en'}
  = render 'head'
  %body{class: "#{controller_name} #{action_name}"}
    = render 'nav_bar'

    - unless flash.empty?
      = render partial: 'flash', locals: { flash: flash }

    = yield

    = render 'footer'
