!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', content: 'ie=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %title Social Health Online
    = csrf_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    -# = favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png'
  %body{class: "#{controller_name} #{action_name}"}
    = render 'nav_bar'
    - unless flash.empty?
      = render partial: 'flash', locals: { flash: flash }

    = yield

    %footer.footer.bg-secondary
      .container
        .row
          .col-md
            %small.text-white Copyright &copy; #{Date.today.year} Social Health, LLC. All rights reserved.
          .col-md.text-center
            %small
              = link_to 'Terms &amp; Conditions of Use'.html_safe, terms_path, class: 'text-white'
            %span.px-2.text-white &middot;
            %small
              = link_to 'Privacy Policy', privacy_path, class: 'text-white'
          .col-md
            %ul.text-right#social-links
              %li
                = link_to '#', target: '_blank' do
                  = image_tag 'youtube.svg', class: 'img-fluid', alt: 'Youtube', style: 'height: 25px'
              %li
                = link_to '#', target: '_blank' do
                  = image_tag 'facebook.svg', class: 'img-fluid', alt: 'Facebook', style: 'height: 25px'
              %li
                = link_to '#', target: '_blank' do
                  = image_tag 'twitter.svg', class: 'img-fluid', alt: 'Twitter', style: 'height: 25px'
