!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', content: 'ie=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %title Social Health Online
    = csrf_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    -# = favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png'
  %body{class: "#{controller_name} #{action_name}"}
    = render 'nav_bar'
    - unless flash.empty?
      .container
        = render partial: 'flash', locals: { flash: flash }

    = yield

    %footer.footer.bg-dark
      .container
        %small &copy; #{Date.today.year} Social Health, LLC
