!!!
%html{lang: 'en'}
  = render 'head'
  %body{class: "#{controller_name} #{action_name}"}
    = render 'nav_bar'
    .main-container
      = render 'secondary_nav_bar' if authenticated_user

      - unless flash.empty?
        = render partial: 'flash', locals: { flash: flash }

      = yield

      = render 'secondary_footer' if authenticated_user
      = render 'footer'
    = content_for :javascript
