!!!
%html{lang: 'en'}
  = render 'head'
  %body{class: "#{controller_name} #{action_name}"}
    = render 'nav_bar'
    .main-container
      %section.pt-3.pb-0
        .container.px-3
          .row
            .col-12.col-md-3.mb-1.order-md-1.px-2
              .card.card-sm
                .list-group.list-group-flush
                  = link_to console_path, class: 'list-group-item d-flex justify-content-center bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.fas.fa-tachometer-alt
                      Console
                  = link_to console_members_path, class: 'list-group-item d-flex justify-content-center bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.fas.fa-building
                      Members
                  = link_to console_affiliates_path, class: 'list-group-item d-flex justify-content-center bg-primary text-white ', :style => 'border: 1px solid black;' do
                    %div
                      %i.fas.fa-store-alt
                      Affiliates
                  = link_to console_admins_path, class: 'list-group-item d-flex justify-content-center bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.fas.fa-shield-alt
                      Admins
                  = link_to console_manage_bulletins_path, class: 'list-group-item d-flex justify-content-center bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.far.fa-eye
                      Manage Bulletins
                  = link_to console_news_index_path, class: 'list-group-item d-flex justify-content-center bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.far.fa-newspaper
                      News
                  = link_to console_notifications_path, class: 'list-group-item d-flex justify-content-center bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.far.fa-bell
                      Notifications
                  = link_to console_social_tracker_members_path, class: 'list-group-item d-flex justify-content-center px-1 bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.fas.fa-database
                      Social Tracker
                  = link_to console_social_fitness_members_path, class: 'list-group-item d-flex justify-content-center px-1 bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.fas.fa-heartbeat
                      Social Fitness
                  = link_to 'https://dashboard.stripe.com/login', target: '_blank', :style => 'border: 1px solid black;', class: "list-group-item d-flex justify-content-center bg-primary text-white" do
                    %div
                      %i.fa.fa-money
                      Stripe Billing
                  = link_to home_path, class: 'list-group-item d-flex justify-content-center bg-primary text-white', :style => 'border: 1px solid black;' do
                    %div
                      %i.fas.fa-home
                      Home
            .col-12.col-md-9.mb-1.order-md-2
              - unless flash.empty?
                = render partial: 'flash', locals: { flash: flash }
              = yield

              = render 'console_footer'
