!!!
%html{lang: 'en'}
  = render 'head'
  %body{class: "#{controller_name} #{action_name}"}
    = render 'nav_bar'
    .container-fluid
      .row
        %nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            %ul.nav.flex-column
              %li.nav-item.py-1
                = link_to console_members_path, class: 'nav-link' do
                  %i.fas.fa-users
                  Members
              %li.nav-item.py-1
                = link_to console_affiliates_path, class: 'nav-link' do
                  %i.far.fa-handshake
                  Affiliates
              %li.nav-item.py-1
                = link_to '#', class: 'nav-link' do
                  %i.far.fa-newspaper
                  News
              %li.nav-item.py-1
                = link_to '#', class: 'nav-link' do
                  %i.fas.fa-shield-alt
                  Admins
        %main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4
          - unless flash.empty?
            = render partial: 'flash', locals: { flash: flash }
          = yield
